{# intended to be included in another template, with a NiceVesselInfoForm as v_form, a ContactForm as c_form, and a OrganizationForm formset as c_aff_form #}
{# assumes RadioHider is already defined #}
<div>
    {{ v_form.non_field_errors }}
    <div class="subform">
        <h4>Vessel Contact</h4>
        <script type="text/javascript">
            $().ready(function(){
                RadioHider.init('{{ v_form.contact_choice.html_name }}', {
                    'new': '{{ v_form.prefix }}-vesselcontact_new_contact',
                    'other': '{{ v_form.prefix }}-vesselcontact_existing_contact'
                });
            });
        </script>
        {% with v_form.contact_choice as f %}
        {% include "unlabeled_field.html" %}
        {% endwith %}
        <div id="{{ v_form.prefix }}-vesselcontact_new_contact" style="display:none;">
            {% with c_form as form %}
            {% with c_aff_form as new_affiliations %}
            {% include "contacts/change_contact_include.html" %}
            {% endwith %}
            {% endwith %}
        </div>
        <div id="{{ v_form.prefix }}-vesselcontact_existing_contact" style="display:none;">
            {% with v_form.existing_contact as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
    </div>
    {% with v_form.vessel_tags as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with v_form.imo_number as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with v_form.name as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with v_form.flag as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with v_form.description as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% block extra_fields %}{% endblock %}
</div>

