{# assumes vessel is 'v' #}
{% load vessel_extras %}
{% load generic_field_display %}
{% load link_filter %}

<table>
{% block vessel_rows %}
    {% display_set_row v 'vessel_tags' 'categories' %}
    {% if v.imo_number %}
    {% display_row v 'imo_number' %}
    {% endif %}
    {% if v.name or v.flag or v.home_port %}
    {% display_boatname_row v %}
    {% endif %}
    <tr class="field">
        <th>contact</th>
        <td>
            {% if v.contact %}
            {{ v.contact|link }}
            {% else %}
            <i>no contact info for this vessel</i>
            {% endif %}
        </td>
    </tr>
    {% if v.description %}
    <tr class="field"><th>description</th><td>{{ v.description }}</td></tr>
    {% endif %}
{% endblock %}
</table>

