{# assumes vessel is 'v' #}
{% load contact_extras %}
{% load vessel_extras %}
{% load generic_field_display %}

<table>
{% block vessel_rows %}
    {% display_set_row v 'vessel_tags' 'categories' %}
    {% if v.imo_number %}
    {% display_row v 'imo_number' %}
    {% endif %}
    {% if v.name or v.flag %}
    {% display_boatname_row v %}
    {% endif %}
    <tr>
        <th>contact</th>
        <td>
        {% if v.contact %}
        {% contact_link v.contact %}
        {% else %}
        <i>no contact info for this vessel</i>
        {% endif %}
        </td>
    </tr>
    {% if v.description %}
    <tr><th>description</th><td>{{ v.description }}</td></tr>
    {% endif %}
{% endblock %}
</table>

