# CPython compiled files
*.pyc

# Jython compiled files
*$py.class

# install-specific files with corresponding *-example files
/cetacean_incidents/local_settings.py
/cetacean_incidents/deploy/cetacean_incidents.conf
/cetacean_incidents/deploy/cetacean_incidents.wsgi

# includes
/cetacean_incidents/site_media/jquery/
/cetacean_incidents/site_media/jqueryui/jquery-ui-1.8.4.custom/

# attachments
/cetacean_incidents/site_media/attachments/repositories
/cetacean_incidents/site_media/attachments/uploads

