# CPython compiled files
*.pyc

# Jython compiled files
*$py.class

# install-specific files with corresponding *-example files
/cetacean_incidents/local_settings.py
/cetacean_incidents/deploy/cetacean_incidents.conf
/cetacean_incidents/deploy/cetacean_incidents.wsgi

# includes
/cetacean_incidents/site_media/jquery/
/cetacean_incidents/site_media/jqueryui/jquery-ui-1.8.11.custom/

# attachments
/cetacean_incidents/site_media/documents/repositories
/cetacean_incidents/site_media/documents/uploads
/cetacean_incidents/cache

# report templates
/cetacean_incidents/site_media/documents/reports

# generated docs
/cetacean_incidents/site_media/manual
/docs/api_docs

