{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block title %}{{ block.super }}: add a new case{% if animal %} for {{ animal }}{% endif %}{% endblock %}

{% block header %}
<h2>new case{% if animal %} for {{ animal }}{% endif %}</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    <div>
        <script type="text/javascript">
            $().ready(function(){
                selector = $("select[name={{ type_form.case_type.name }}]")
                selector.change(function(event){
                    $("div.case_form").hide();
                    if ($(this).val() != '') {
                        $('div#' + $(this).val() + '_form').show();
                    }
                });
                selector.change();
            });
        </script>
        <div class="section">
            {% for f in type_form %}
            {% include "labeled_field.html" %}
            {% endfor %}
        </div>
        {% for case_type_name, case_form in case_forms.items %}
        <div id="{{ case_type_name }}_form" class="section case_form">
            <h3>{{ case_type_name }}</h3>
            {% for f in case_form %}
            {% include "labeled_field.html" %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
	<button type="submit">create case</button>
</form>
{% endblock %}

