{% extends "merge_form/merge.html" %}
{% load merge_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block ids-dl %}
<dt><b>animal</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>animal</b> field numbers</dt><dd>merging {{ source.field_number|default:"<i>none</i>" }} into {{ destination.field_number|default:"<i>none</i>" }}</dd>
<dt><b>animal</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block form_rows %}
{% display_merge_row destination source form 'name' %}
{% display_merge_row destination source form 'field_number' %}
{% display_merge_taxon_row destination source form 'determined_taxon' %}
{% display_merge_gender_row destination source form 'determined_gender' %}
{% display_merge_row destination source form 'determined_dead_before' %}
{% display_merge_yesunk_row destination source form 'partial_necropsy' %}
{% display_merge_yesunk_row destination source form 'necropsy' %}
{% display_merge_yesnounk_row destination source form 'carcass_disposed' %}
{% display_merge_row destination source form 'cause_of_death' %}
<tr>
    <td>
        {% with destination.import_notes as notes %}
        {% with destination.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
    <td>the merged animal will have all these import notes
    {{ form.import_notes }}
    </td>
    <td>
        {% with source.import_notes as notes %}
        {% with source.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
</tr>
{% endblock %}

