{% extends "detail.html" %}
{% load case_extras %}
{% load generic_field_display %}

{% block title %}{{ block.super }}: {{ animal }}{% endblock %}

{% block header %}
{{ block.super }}
<h2>{{ animal }}</h2>
<div><a href="{% url edit_animal animal.id %}">edit</a></div>
{% endblock %}

{% block ids-dl %}
<dt>local ID</dt><dd>{{ animal.id }}</dd>
{% endblock %}

{% block content %}
<div class="section">
    <h3>Info:</h3>
    <table>
        {% display_row animal 'name' %}
        <tr>
            <th style="text-align:right;">taxon</th>
            <td>
                {% if animal.determined_taxon %}
                {{ animal.determined_taxon }} ({{ animal.determined_taxon.common_names }})
                {% else %}
                <i>undetermined</i>{% if animal.probable_taxon %} (probably <i>{{ animal.probable_taxon }}</i>){% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">gender</th>
            <td>
                {% if animal.determined_gender %}
                {{ animal.get_determined_gender_display|default:"unknown" }}
                {% else %}
                <i>undetermined</i>{% if animal.probable_gender %} (probably {{ animal.get_probable_gender_display }}){% endif %}
                {% endif %}
            </td>
        </tr>
        {% if animal.determined_dead_before %}
        {% display_row animal "determined_dead_before" %}
        {% display_yesunk_row animal 'necropsy' %}
        {% endif %}
    </table>
</div>

<div class="section">
    <h3>Cases:</h3>
    {% if animal.case_set.count %}
    <ul>
        {% for case in animal.case_set.all %}
        <li>{% case_link case %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div style="text-align: center;">
        <i>no cases yet</i>
    </div>
    {% endif %}
    <a href="{% url add_case animal.id %}">add a new case</a>
</div>
{% endblock %}

