{% extends "base.html" %}
{% load generic_field_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block title %}{{ block.super }}: {{ destination }} [merging with {{ source }}] {% endblock %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block ids-dl %}
<dt><b>animal</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>animal</b> field numbers</dt><dd>merging {{ source.field_number|default:"<i>none</i>" }} into {{ destination.field_number|default:"<i>none</i>" }}</dd>
<dt><b>animal</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block header %}
<h2>{{ destination }} [merging with {{ source }}]</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="section bordered">
        <tr>
            <td>{{ destination.id }}</td>
            <td></td>
            <td>{{ source.id }}</td>
    	</tr>
        <tr>
            {% display_cell destination 'name' %}
            <td>
                {% with form.name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'name' %}
    	</tr>
        <tr>
            {% display_cell destination 'field_number' %}
            <td>
                {% with form.field_number as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'field_number' %}
    	</tr>
        <tr>
            <td>
                {% if destination.determined_taxon %}
                {{ destination.determined_taxon }} ({{ destination.determined_taxon.common_names }})
                {% else %}
                <i>undetermined</i>{% if destination.probable_taxon %} (probably <i>{{ destination.probable_taxon }}</i>){% endif %}
                {% endif %}
            </td>
            <td>
            {% with form.determined_taxon as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            <td>
                {% if source.determined_taxon %}
                {{ source.determined_taxon }} ({{ source.determined_taxon.common_names }})
                {% else %}
                <i>undetermined</i>{% if source.probable_taxon %} (probably <i>{{ source.probable_taxon }}</i>){% endif %}
                {% endif %}
            </td>
    	</tr>
        <tr>
            <td>
                {% if destination.determined_gender %}
                {{ destination.get_determined_gender_display|default:"unknown" }}
                {% else %}
                <i>undetermined</i>{% if destination.probable_gender %} (probably {{ destination.get_probable_gender_display }}){% endif %}
                {% endif %}
            </td>
            <td>
            {% with form.determined_gender as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            <td>
                {% if source.determined_gender %}
                {{ source.get_determined_gender_display|default:"unknown" }}
                {% else %}
                <i>undetermined</i>{% if source.probable_gender %} (probably {{ source.get_probable_gender_display }}){% endif %}
                {% endif %}
            </td>
    	</tr>
        <tr>
            {% display_cell destination "determined_dead_before" %}
            <td>
            {% with form.determined_dead_before as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            {% display_cell source "determined_dead_before" %}
    	</tr>
        <tr>
            {% display_yesunk_cell destination 'partial_necropsy' %}
            <td>
            {% with form.partial_necropsy as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            {% display_yesunk_cell source 'partial_necropsy' %}
    	</tr>
        <tr>
            {% display_yesunk_cell destination 'necropsy' %}
            <td>
            {% with form.necropsy as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            {% display_yesunk_cell source 'necropsy' %}
    	</tr>
        <tr>
            {% display_cell destination 'cause_of_death' %}
            <td>
            {% with form.cause_of_death as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            </td>
            {% display_cell source 'cause_of_death' %}
    	</tr>
    	<tr>
    	    <td>
    	        {% if form.destination_fk_refs %}
    	        This animal is referenced by:
    	        <ul>
    	            {% for other_model, other_field, other_instance in destination_fk_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	        {% if form.destination_m2m_refs %}
    	        This animal is among the references in:
    	        <ul>
    	            {% for other_model, other_field, other_instance in destination_m2m_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	    </td>
    	    <td>the merged animal will have all the references of these two animals</td>
    	    <td>
    	        {% if form.source_fk_refs %}
    	        This animal is referenced by:
    	        <ul>
    	            {% for other_model, other_field, other_instance in source_fk_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	        {% if form.source_m2m_refs %}
    	        This animal is among the references in:
    	        <ul>
    	            {% for other_model, other_field, other_instance in source_m2m_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	    </td>
    	</tr>
        <tr>
            <td colspan="3" style="text-align: center;">
        	    <button type="submit">merge {{ source }} into {{ destination }}</button>
            </td>
    	</tr>
    </table>
</form>
{% endblock %}

