{% extends "detail.html" %}
{% load animal_extras %}
{% load case_extras %}
{% load observation_extras %}
{% load generic_field_display %}
{% load observation_extras %}
{% load link_filter %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: {{ animal }}{% endblock %}

{% block header %}
<h2>{% animal_display animal %}</h2>
{% if perms.incidents.change_animal %}
<div><a href="{% url edit_animal animal.id %}">edit this animal</a></div>
{% endif %}
{% if perms.incidents.change_animal and perms.incidents.delete_animal %}
<script type="text/javascript">
    jQuery(document).ready(function(){
	    $('.accordion .header').click(function() {
		    $(this).next().toggle('fast');
		    return false;
	    }).next().hide();
    });
</script>
<div class="accordion">
    <div class="header">
        <a href="#">merge another animal into this one...</a>
    </div>
    <form action="{% url animal_merge animal.id %}" method="GET">
        <div style="margin-left:2em;">
            {{ merge_form.as_p }}
            <button type="submit">view merge</button>
        </div>
    </form>
</div>
{% endif %}
{% with animal.tag_set.all as tags %}
{% include "tags/tags_detail_include.html" %}
{% endwith %}
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="section">
    <h3>Info:</h3>
    <table>
        <tr class="field">
            <th style="text-align:right;">field number</th>
            <td>
                {% animal_field_number_display animal.field_number %}
            </td>
        </tr>
        {% with animal.names as names %}
        <tr class="field">
            <th style="text-align:right;">names</th>
            <td>
                {% animal_names_display animal.names "block" %}
            </td>
        </tr>
        {% endwith %}
        {% display_taxon_row animal 'determined_taxon' animal.probable_taxon %}
        {% if animal.determined_gender or animal.probable_gender %}
        {% display_gender_row animal 'determined_gender' animal.get_probable_gender_display %}
        {% endif %}
        {% if animal.determined_dead_before %}
        {% display_row animal "determined_dead_before" %}
        {% display_yesunk_row animal 'partial_necropsy' %}
        {% display_yesunk_row animal 'necropsy' %}
        {% display_yesnounk_row animal "carcass_disposed" %}
        {% if animal.cause_of_death %}
        {% display_row animal "cause_of_death" %}
        {% endif %}
        {% endif %}
    </table>
    {% with animal.import_notes as notes %}
    {% include "incidents/import_notes_include.html" %}
    {% endwith %}
</div>

<div class="section">
    <h3>Cases:</h3>
    {% if animal.case_set.count %}
    <ul>
        {% for case in animal.case_set.all %}
        <li>
            {# don't forget the case-editing page can also change animals #}
            {% if perms.incidents.change_animal and perms.incidents.change_case %}
            <a href="{{ case.specific_instance.get_edit_url }}">
                <img src="{{ MEDIA_URL}}icons/edit.png" alt="edit" title="edit this case">
            </a>
            {% endif %}
            {% case_link case %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div style="text-align: center;">
        <i>no cases yet</i>
    </div>
    {% endif %}
    {# don't forget the case-adding page can also editing animals and adds an observation #}
    {% if perms.incidents.change_animal and perms.incidents.add_case and perms.incidents.add_observation %}
    <a href="{% url add_case animal.id %}">add a new case for this animal</a>
    {% endif %}
</div>
<div class="section">
    <h3>Observations</h3>
    {% block observations %}
    {% if animal.observation_set.count %}
    <table class="sortable bordered">
        <thead>
            <tr>
                <td class="sorttable_nosort"></td>
                {# don't forget the observation-editing page can also change animals and cases #}
                {% if perms.incidents.change_animal and perms.incidents.change_case and perms.incidents.change_observation %}
                <td class="sorttable_nosort"></td>
                {% endif %}
                <th>observer</th>
                <th>date observed</th>
                <th>reporter</th>
                <th>date reported</th>
                <th class="sorttable_nosort">start of narrative...</th>
            </tr>
        </thead>
        {% for o in animal.observation_set.all %}
        <tr>
            {# don't forget the observation-editing page can also change animals and cases #}
            {% if perms.incidents.change_animal and perms.incidents.change_case and perms.incidents.change_observation %}
            <td><a href="{{ o.specific_instance.get_edit_url }}"><img src="{{ MEDIA_URL}}icons/edit.png" alt="edit" title="edit this observation"></a></td>
            {% endif %}
            <td>{% observation_link o %}</td>
            <td sorttable_customkey="{{ o.observer.sort_name }}">{{ o.observer|link }}</td>
            <td sorttable_customkey="{{ o.datetime_observed.sortkey }}">{% datetime_observed_display o.datetime_observed %}</td>
            <td sorttable_customkey="{{ o.reporter.sort_name }}">{% if o.firsthand %}<i>reported by the observer</i>{% else %}{{ o.reporter|link }}{% endif %}</td>
            <td sorttable_customkey="{{ o.datetime_reported.sortkey }}">{% datetime_observed_display o.datetime_reported %}</td>
            <td>{% if o.narrative %}{{ o.narrative|truncatewords:9 }}{% else %}<i>nothing</i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <i>no observations yet!</i>
    </p>
    {% endif %}
    {% endblock %}
</div>
{% with animal as documentable %}
{% include "documents/view_attachments_include.html" %}
{% endwith %}
{% endblock %}

