{% extends "merge_form/merge.html" %}
{% load generic_field_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block ids-dl %}
<dt><b>animal</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>animal</b> field numbers</dt><dd>merging {{ source.field_number|default:"<i>none</i>" }} into {{ destination.field_number|default:"<i>none</i>" }}</dd>
<dt><b>animal</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block form_rows %}
<tr>
    {% display_cell destination 'name' %}
    <td>
        {% with form.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_cell source 'name' %}
</tr>
<tr>
    {% display_cell destination 'field_number' %}
    <td>
        {% with form.field_number as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_cell source 'field_number' %}
</tr>
<tr>
    <td>
        {% if destination.determined_taxon %}
        {{ destination.determined_taxon }} ({{ destination.determined_taxon.common_names }})
        {% else %}
        <i>undetermined</i>{% if destination.probable_taxon %} (probably <i>{{ destination.probable_taxon }}</i>){% endif %}
        {% endif %}
    </td>
    <td>
    {% with form.determined_taxon as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    <td>
        {% if source.determined_taxon %}
        {{ source.determined_taxon }} ({{ source.determined_taxon.common_names }})
        {% else %}
        <i>undetermined</i>{% if source.probable_taxon %} (probably <i>{{ source.probable_taxon }}</i>){% endif %}
        {% endif %}
    </td>
</tr>
<tr>
    <td>
        {% if destination.determined_gender %}
        {{ destination.get_determined_gender_display|default:"unknown" }}
        {% else %}
        <i>undetermined</i>{% if destination.probable_gender %} (probably {{ destination.get_probable_gender_display }}){% endif %}
        {% endif %}
    </td>
    <td>
    {% with form.determined_gender as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    <td>
        {% if source.determined_gender %}
        {{ source.get_determined_gender_display|default:"unknown" }}
        {% else %}
        <i>undetermined</i>{% if source.probable_gender %} (probably {{ source.get_probable_gender_display }}){% endif %}
        {% endif %}
    </td>
</tr>
<tr>
    {% display_cell destination "determined_dead_before" %}
    <td>
    {% with form.determined_dead_before as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    {% display_cell source "determined_dead_before" %}
</tr>
<tr>
    {% display_yesunk_cell destination 'partial_necropsy' %}
    <td>
    {% with form.partial_necropsy as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    {% display_yesunk_cell source 'partial_necropsy' %}
</tr>
<tr>
    {% display_yesunk_cell destination 'necropsy' %}
    <td>
    {% with form.necropsy as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    {% display_yesunk_cell source 'necropsy' %}
</tr>
<tr>
    {% display_yesnounk_cell destination 'carcass_disposed' %}
    <td>
    {% with form.carcass_disposed as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    {% display_yesnounk_cell source 'carcass_disposed' %}
</tr>
<tr>
    {% display_cell destination 'cause_of_death' %}
    <td>
    {% with form.cause_of_death as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td>
    {% display_cell source 'cause_of_death' %}
</tr>
<tr>
    <td>
        {% with destination.import_notes as notes %}
        {% with destination.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
    <td>the merged animal will have all these import notes
    {{ form.import_notes }}
    </td>
    <td>
        {% with source.import_notes as notes %}
        {% with source.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
</tr>
{% endblock %}

