{% extends "page.html" %}
{% load taxon_extras %} {# for taxon_sort_key #}
{% load observation_extras %} {# for datetime_observed_display #}
{% load link_filter %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Animal Search{% endblock %}

{% block header %}<h2>Animals</h2>{% endblock %}

{% block content %}
<form action="" method="get">
    <div class="section">
        {% with form.non_field_errors as errors %}
        {% if errors %}
        <ul class="errorlist">
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% for f in form %}
        {% include "labeled_field.html" %}
        {% endfor %}
        <button type="submit">search</button>
    </div>
</form>
{% if form.is_bound %}
<div style="text-align: center;">
({{ animal_count|default:"no" }} matching animal{{ animal_count|pluralize }})
</div>
{# sorttable.js doesn't like empty tables #}
{% if animal_count > 0 %}
<table class="bordered{% if animal_list %} sortable{% endif %}">
    <thead>
        <tr>
            <th class="sorttable_nosort">link</th>
            <th>taxon</th>
            <th>cases</th>
            <th>observations</th>
            <th>first observed</th>
            <th>last observed</th>
        </tr>
    </thead>
	{% for animal in animal_list %}
	<tr>
	    <td>{{ animal|link_block }}</td>
	    <td sorttable_customkey="{% taxon_sort_key animal.taxon "True" %}">
	        {% if animal.determined_taxon %}
	        {{ animal.determined_taxon }}
	        {% else %}
	        {% if animal.probable_taxon %}
	        {{ animal.probable_taxon }}, <i>probably</i>
	        {% else %}
	        <i>undetermined</i>
	        {% endif %}
	        {% endif %}
	    </td>
	    {% with animal.nmfs_ids as nmfs %}
	    <td>{{ animal.case_set.count }}{% if nmfs %} <span title="NMFS ID's">({{ nmfs|join:", " }})</span>{% endif %}</td>
	    {% endwith %}
	    <td>{{ animal.observation_set.count }}</td>
	    {% with animal.first_observation.datetime_observed as od %}
	    {% if od %}
	    <td sorttable_customkey="{{ od.sortkey }}">
	        {% datetime_observed_display od %}
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endwith %}
	    {% with animal.last_observation.datetime_observed as od %}
	    {% if od %}
	    <td sorttable_customkey="{{ od.sortkey }}">
	        {% datetime_observed_display od %}
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endwith %}
    </tr>
    {% empty %}
    <tr><td colspan="5" style="text-align:center;"><i>no animals</i></td></tr>
	{% endfor %}
</table>
{% endif %}
{% else %}
<p>
    click 'search' to see a list of animals
</p>
{% endif %}
{% endblock %}
