{% extends "base.html" %}
{% load animal_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Animals{% endblock %}

{% block header %}
<h2>Animals</h2>
{% endblock %}

{% block content %}
<table class="sortable">
    <thead>
        <tr>
            <th>animal</th>
            <th>name</th>
            <th>cases</th>
        </tr>
    </thead>
	{% for animal in animal_list %}
	<tr>
	    <td>{% animal_link animal %}</td>
	    <td>{{ animal.name|default:"<i>none</i>" }}</td>
	    <td>{{ animal.case_set.count }}</td>
    </tr>
	{% endfor %}
</table>
<a href="{% url create_animal %}">add a new animal</a>
{% endblock %}
