{% extends "base.html" %}
{% load animal_extras %}
{% load datetime_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Animals{% endblock %}

{% block header %}<h2>All Animals</h2>{% endblock %}

{% block content %}
{% block animals_header %}{% endblock %}
{# sorttable.js doesn't like empty tables #}
<table class="bordered{% if animal_list %} sortable{% endif %}">
    <thead>
        <tr>
            <th>local ID</th>
            <th>link</th>
            <th>name</th>
            <th>taxon</th>
            <th>cases</th>
            <th>observations</th>
            <th>first observed</th>
            <th>last observed</th>
        </tr>
    </thead>
	{% for animal in animal_list %}
	<tr>
	    <td>{{ animal.id }}</td>
	    <td>{% animal_link animal %}</td>
	    <td>{{ animal.name|default:"<i>none</i>" }}</td>
	    <td>
	        {% if animal.determined_taxon %}
	        {{ animal.determined_taxon }}
	        {% else %}
	        {% if animal.probable_taxon %}
	        {{ animal.probable_taxon }}, <i>probably</i>
	        {% else %}
	        <i>none</i>
	        {% endif %}
	        {% endif %}
	    </td>
	    <td>{{ animal.case_set.count }}</td>
	    <td>{{ animal.observation_set.count }}</td>
	    {% with animal.first_observation.observation_datetime as od %}
	    {% if od %}
	    <td sorttable_customkey="{% datetime_sort_key od %}">
	        {{ od }}
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endwith %}
	    {% with animal.last_observation.observation_datetime as od %}
	    {% if od %}
	    <td sorttable_customkey="{% datetime_sort_key od %}">
	        {{ od }}
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endwith %}
    </tr>
    {% empty %}
    <tr><td colspan="5" style="text-align:center;"><i>no animals</i></td></tr>
	{% endfor %}
</table>
<a href="{% url create_animal %}">add a new animal</a>
{% endblock %}
