{% extends "detail.html" %}
{% load case_extras %}
{% load observation_extras %}
{% load contact_extras %}
{% load uncertain_datetime_extras %}
{% load generic_field_display %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: {{ animal }}{% endblock %}

{% block header %}
<h2>Animal {{ animal }}</h2>
<div><a href="{% url edit_animal animal.id %}">edit</a></div>
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="section">
    <h3>Info:</h3>
    <table>
        {% display_row animal 'name' %}
        <tr>
            <th style="text-align:right;">taxon</th>
            <td>
                {% if animal.determined_taxon %}
                {{ animal.determined_taxon }} ({{ animal.determined_taxon.common_names }})
                {% else %}
                <i>undetermined</i>{% if animal.probable_taxon %} (probably <i>{{ animal.probable_taxon }}</i>){% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">gender</th>
            <td>
                {% if animal.determined_gender %}
                {{ animal.get_determined_gender_display|default:"unknown" }}
                {% else %}
                <i>undetermined</i>{% if animal.probable_gender %} (probably {{ animal.get_probable_gender_display }}){% endif %}
                {% endif %}
            </td>
        </tr>
        {% if animal.determined_dead_before %}
        {% display_row animal "determined_dead_before" %}
        {% display_yesunk_row animal 'necropsy' %}
        {% endif %}
    </table>
</div>

<div class="section">
    <h3>Cases:</h3>
    {% if animal.case_set.count %}
    <ul>
        {% for case in animal.case_set.all %}
        <li>{% case_link case %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div style="text-align: center;">
        <i>no cases yet</i>
    </div>
    {% endif %}
    <a href="{% url add_case animal.id %}">add a new case for this animal</a>
</div>
<div class="section">
    <h3>Observations</h3>
    {% block observations %}
    {% if animal.observation_set.count %}
    <table class="sortable bordered">
        <thead>
            <tr>
                <th>case</th>
                <td class="sorttable_nosort"></td>
                <th>observer</th>
                <th>date observed</th>
                <th>reporter</th>
                <th>date reported</th>
                <th class="sorttable_nosort">start of narrative...</th>
            </tr>
        </thead>
        {% for o in animal.observation_set.all %}
        <tr>
            <td sorttable_customkey="{{ o.case.date.year|default:9999 }}{{ o.case.yearly_number|default:0|stringformat:"04d" }}{{ case.id|stringformat:"04d" }}">{% case_link o.case %}</td>
            <td>{% observation_link o %}</td>
            <td sorttable_customkey="{{ o.observer.sort_name }}">{% contact_link o.observer %}</td>
            <td sorttable_customkey="{% datetime_sort_key o.observation_datetime %}">{{ o.observation_datetime }}</td>
            <td sorttable_customkey="{{ o.reporter.sort_name }}">{% if o.firsthand %}<i>reported by the observer</i>{% else %}{% contact_link o.reporter %}{% endif %}</td>
            <td sorttable_customkey="{% datetime_sort_key o.report_datetime %}">{{ o.report_datetime }}</td>
            <td>{% if o.narrative %}{{ o.narrative|truncatewords:9 }}{% else %}<i>nothing</i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <i>no observations yet!</i>
    </p>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}

