{% extends "base.html" %}
{% load animal_extras %}
{% load case_extras %}
{% load datetime_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{{ form.media }}
{% endblock %}

{% block title %}{{ block.super }}: Cases{% endblock %}

{% block header %}<h2>Cases</h2>{% endblock %}

{% block content %}
<form action="{% url case_search %}" method="get">
    <div class="section">
        {% with form.non_field_errors as errors %}
        {% if errors %}
        <ul class="errorlist">
            {% for e in errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% for f in form %}
        {% include "labeled_field.html" %}
        {% endfor %}
        <button type="submit">search</button>
    </div>
</form>
{% if form.is_bound %}
<div style="text-align: center;">
({{ case_list.count|default:"no" }} matching case{{ case_list.count|pluralize }})
</div>{# sorttable.js doesn't like empty tables #}
{% if case_list.count > 0 %}
<table{% if case_list %} class="bordered sortable"{% endif %}>
	<thead>
	    <tr>
	        <th>NMFS ID</th>
		    <th class="sorttable_numeric">case</th>
		    <th>type</th>
		    <th>animal</th>
		    <th>first observation</th>
		    <th>first report</th>
		</tr>
	</thead>
	<tbody>
	    {% for case in case_list %}
	    <tr>
	        <td>{{ case.nmfs_id|default:"<i>none</i>" }}</td>
		    <td sorttable_customkey="{{ case.date.year|default:9999 }}{{ case.yearly_number|default:0|stringformat:"03d" }}{{ case.id|stringformat:"04d" }}">{% case_link case %}</td>
		    <td>{{ case.case_type }}</td>
		    <td>{% animal_link case.animal %}</td>
		    <td sorttable_customkey="{% datetime_sort_key case.first_observation_date %}">{{ case.first_observation_date }}</td>
		    <td sorttable_customkey="{% datetime_sort_key case.first_report_date %}">{{ case.first_report_date }}</td>
	    </tr>
	    {% empty %}
	    <tr><td colspan="5" style="text-align:center;"><i>no cases</i></td></tr>
	    {% endfor %}
	</tbody>
</table>
{% endif %}
{% else %}
<p>
    click 'search' to see a list of cases
</p>
{% endif %}
{% endblock %}
