{% extends "page.html" %}

{% block title %}{{ block.super }}: Cases{% endblock %}

{% block header %}<h2>Cases</h2>{% endblock %}

{% block content %}

<form action="{% url case_search %}" method="get">
    <script type="text/javascript">
        $().ready(function(){
            SelectHider.init(
                {# TODO javascript-string escaping? #}
                '{{ forms.case_type.case_type.html_name }}',
                {
                    {% for val, disp in forms.case_type.case_type.field.choices %}
                    '{{ val }}': '{{ val }}_form'{% if not forloop.last %},{% endif %}
                    {% endfor %}
                }
            );
        });
    </script>
    {{ forms.case_type }}
    {% for form_name, form in forms.items %}
    {% if form_name != "case_type" %}
    <table id="{{ form_name }}_form" class="section">
        {{ form }}
    </table>
    {% endif %}
    {% endfor %}
    <button type="submit">search</button>
</form>

{% if is_bound %}
{% if case_count > 0 %}
{% with case_list as cases %}
{% include "incidents/case_list_include.html" %}
{% endwith %}
{% else %}
<div style="text-align: center;">
    <i>{{ case_count|default:"no" }} matching case{{ case_count|pluralize }}</i>
</div>
{% endif %} {# case_count > 0 #}
{% else %} {# is_bound #}
<p>click 'search' to see a list of cases</p>
{% endif %} {# is_bound #}
{% endblock %}

