{% extends "merge_form/merge.html" %}
{% load generic_field_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block ids-dl %}
<dt><b>case</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>case</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block form_rows %}
<tr>
    {% display_cell destination 'animal' %}
    <td>
        Both cases should already have the same animal.
    </td>
    {% display_cell source 'animal' %}
</tr>
<tr>
    {% display_chosen_cell destination 'valid' %}
    <td>
        {% with form.valid as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_chosen_cell source 'valid' %}
</tr>
<tr>
    {% display_cell destination 'happened_after' %}
    <td>
        {% with form.happened_after as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_cell source 'happened_after' %}
</tr>
<tr>
    {% display_chosen_cell destination 'human_interaction' %}
    <td>
        {% with form.human_interaction as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_chosen_cell source 'human_interaction' %}
</tr>
<tr>
    {% display_yesnounk_cell destination 'ole_investigation' %}
    <td>
        {% with form.ole_investigation as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </td>
    {% display_yesnounk_cell source 'ole_investigation' %}
</tr>
<tr>
    <td>
        {% with destination.import_notes as notes %}
        {% with destination.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
    <td>the merged case will have all these import notes
    {{ form.import_notes }}
    </td>
    <td>
        {% with source.import_notes as notes %}
        {% with source.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
</tr>
{% endblock %}

