{# assumes a list of cases as 'cases' in the context, a number of cases as case_count #}
{% load observation_extras %} {# for date_observed_dipsplay #}
{% load link_filter %}

<div style="text-align: center;">
    <i>{{ case_count }} case{{ case_count|pluralize }}</i>
</div>
<table class="bordered sortable">
    <thead>
        <tr>
            {# the case-editing page can also change animals #}
            {% if perms.incidents.change_animal and perms.incidents.change_case %}
            <th class="sorttable_nosort"><!-- case edit link --></th>
            {% endif %}
            <th>case</th>
            <th class="sorttable_nosort">animal</th>
            <th>first observed</th>
            <th>last observed</th>
            <th class="sorttable_nosort">observers</th>
            <th># obs.</th>
        </tr>
    </thead>
    <tbody>
        {% for case in cases %}
        <tr>
            {# the case-editing page can also change animals #}
            {% if perms.incidents.change_animal and perms.incidents.change_case %}
            <td>
                <a href="{{ case.specific_instance.get_edit_url }}">
                    <img src="{{ MEDIA_URL}}icons/edit.png" alt="edit" title="edit this case">
                </a>
            </td>
            {% endif %}
            {% with case.current_yearnumber as ycn %}
            <td sorttable_customkey="{{ case.entanglement.nmfs_id|default:"A00-00" }} {{ ycn.year|default:9999 }}{{ ycn.number|default:0|stringformat:"04d" }}{{ case.id|stringformat:"04d" }}">
                {{ case|link }}
            </td>
            {% endwith %}
            <td>{{ case.animal|link_block }}</td>
	        {% with case.earliest_observation.datetime_observed as first_obs_date %}
	        <td sorttable_customkey="{{ first_obs_date.sortkey }}">{% date_observed_display first_obs_date %}</td>
	        {% endwith %}
	        {% with case.latest_observation.datetime_observed as last_obs_date %}
	        <td sorttable_customkey="{{ last_obs_date.sortkey }}">{% date_observed_display last_obs_date %}</td>
	        {% endwith %}
            <td>
                {% for c in case.observation_set.observer_set %}
                {{ c|link }}
                {% empty %}
                <i>no contact info for observers</i>
                {% endfor %}
            </td>
	        <td>{{ case.observation_set.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

