{% extends "detail.html" %}
{% load observation_extras %}
{% load animal_extras %}
{% load contact_extras %}

{% block title %}{{ block.super }}: {{ case }}{% endblock %}

{% block ids-dl %}
<dt>local ID</dt><dd>{{ case.id }}</dd>
<dt>current name</dt><dd>{{ case.current_name }}</dd>
{% if case.past_names_set %}
<dt>past names</dt>
<dd>
    {% for past_name in case.past_names_set %}
    {{ past_name }}<br>
    {% endfor %}
</dd>
{% endif %}
{% endblock %}

{% block header %}
{{ block.super }}
<div>
    <h2>{{ case }}</h2>
</div>
{% endblock %}

{% block content %}
<div class="section">
    {% block case_fields %}
    <div>
        <span class="fieldname">Animal</span> {% animal_link case.animal %}
    </div>
    <div>
        <span class="fieldname">OLE investigation?</span>  {{ case.ole_investigation|yesno:"yes,no,unknown" }}
    </div>
    {% endblock %}
</div>
<div class="section">
    <h3>Observations</h3>
    {% block observations %}
    {% if case.observation_set.count %}
    <table>
        <tr><td><th>observer</th><th>date observed</th><th>reporter</th><th>date reported</th><th>start of narrative...</th>
        {% for o in case.observation_set.all %}
        <tr><td>{% observation_link o %}</td><td>{% contact_link o.observer %}</td><td>{{ o.observation_datetime }}</td><td>{% if o.firsthand %}<i>reported by the observer</i>{% else %}{% contact_link o.reporter %}{% endif %}</td><td>{{ o.report_datetime }}</td><td>{% if o.narrative %}{{ o.narrative|truncatewords:9 }}{% else %}<i>nothing</i>{% endif %}</td></tr>
        {% endfor %}
    </table>
    {% else %}
    <i>no observations yet!</i>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}
