{% extends "merge_form/merge.html" %}
{% load generic_field_display %}
{% load merge_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block ids-dl %}
<dt><b>case</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>case</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block form_rows %}
<tr>
    {% display_cell destination 'animal' %}
    <td>
		<span class="fieldname">Animal</span>
        Both cases should already have the same animal.
    </td>
    {% display_cell source 'animal' %}
</tr>
{% display_merge_chosen_row destination source form 'valid' %}
{% display_merge_row destination source form 'happened_after' %}
{% display_merge_chosen_row destination source form 'human_interaction' %}
{% display_merge_yesnounk_row destination source form 'ole_investigation' %}
{% display_merge_row destination source form 'review_1_date' %}
{% display_merge_row destination source form 'review_1_inits' %}
{% display_merge_row destination source form 'review_2_date' %}
{% display_merge_row destination source form 'review_2_inits' %}
{% display_merge_chosen_row destination source form 'reviewer_casetype' %}
{% display_merge_row destination source form 'case_confirm_criteria' %}
{% display_merge_chosen_row destination source form 'animal_fate' %}
{% display_merge_chosen_row destination source form 'fate_cause' %}
{% display_merge_row destination source form 'fate_cause_indications' %}
{% display_merge_yesnounk_row destination source form 'si_prevented' %}
{% display_merge_yesnounk_row destination source form 'included_in_sar' %}
{% display_merge_row destination source form 'review_1_notes' %}
{% display_merge_row destination source form 'review_2_notes' %}
{% block additional_form_rows %}
{% endblock %}
<tr>
    <td>
        {% with destination.import_notes as notes %}
        {% with destination.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
    <td>the merged case will have all these import notes
    {{ form.import_notes }}
    </td>
    <td>
        {% with source.import_notes as notes %}
        {% with source.id as notes_id %}
        {% include "incidents/import_notes_include.html" %}
        {% endwith %}
        {% endwith %}
    </td>
</tr>
{% endblock %}

