{% extends "detail.html" %}

{% block title %}{{ block.super }}: {{ case }}{% endblock %}

{% block ids-table-rows %}
<tr><th>local ID</th><td>{{ case.id }}</td></tr>
<tr><th>current name</th><td>{{ case.current_name }}</td></tr>
{% if case.past_names_set %}
<tr><th>past names</th><td>
    {% for past_name in case.past_names_set %}
    {{ past_name }}<br>
    {% endfor %}
</td></tr>
{% endif %}
{% endblock %}

{% block header %}
{{ block.super }}
<div>
    <h2>{{ case }}</h2>
    {% comment %}
    <a href="{% url edit_case case.id %}">edit this case</a>
    {% endcomment %}
</div>
{% endblock %}

{% block content %}
<div class="section">
    <div>
        <span class="fieldname">Animal</span> <a href="{% url animal_detail object_id=case.animal.id %}">{{ case.animal }}</a>
    </div>
    <div>
        <span class="fieldname">OLE investigation?</span> {{ case.ole_investigation|yesno:"yes,no,unknown" }}
    </div>
</div>
<div class="section">
    <h3>Observations</h3>
    <table>
        <tr><th>observer</th><th>date observed</th><th>date reported</th><th>start of narrative...</th>
        {% for o in case.observation_set.all %}
        <tr><td>{{ o.observer }}</td><td>{{ o.observation_datetime }}</td><td>{{ o.report_datetime }}</td><td><a href="{% url observation_detail object_id=o.id %}">{{ o.narrative|truncatewords:9 }}</a></td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
