{% extends "page.html" %}

{% block title %}{{ block.super }}: Case Search{% endblock %}

{% block header %}
<h2>Case Search</h2>
<div>
    <a href="{% url entanglement_search %}">search entanglement-specific fields</a>
</div>
<div>
    <a href="{% url shipstrike_search %}">search shipstrike-specific fields</a>
</div>
{% endblock %}

{% block content %}
<form id="the_form" action="" method="get">
    {% for form_name, form in forms.items %}
    <table id="{{ form_name }}_form" class="section">
        {{ form }}
    </table>
    {% endfor %}
    <button type="submit">search</button>
</form>

{% if is_bound %}
{% if case_count > 0 %}

{% with cases as page %}
{% with 'the_form' as form_id %}
{% with forms.paging as paging_form %}
{% include "paging_form_include.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% with cases.object_list as cases %}
{% include "incidents/case_list_include.html" %}
{% endwith %}

{% if user.is_staff %}
<div style="width:100%; text-align: center;">
    <form action="{% url case_report %}" method="get">
        <input type="hidden" name="cases" value="{{ all_ids|join:"," }}" ">
        <button type="submit">generate a report for all the matching cases</button>
    </form>
</div>
{% endif %}

{% else %}
<div style="text-align: center;">
    <i>{{ case_count|default:"no" }} matching case{{ case_count|pluralize }}</i>
</div>
{% endif %} {# case_count > 0 #}
{% else %} {# is_bound #}
<p>click 'search' to see a list of cases</p>
{% endif %} {# is_bound #}
{% endblock %}

