{% extends "detail.html" %}

{% block title %}{{ block.super }}: {{ case }}{% endblock %}

{% block ids-table-rows %}
<tr><th>local ID</th><td>{{ case.id }}</td></tr>
<tr><th>current name</th><td>{{ case.current_name }}</td></tr>
<tr><th>past names</th><td>
    {% for past_name in case.past_names_set %}
    {{ past_name }}<br>
    {% endfor %}
</td></tr>
{% endblock %}

{% block header %}
{{ block.super }}
<div><h2>{{ case }}</h2><a href="{% url edit_case case.id %}">edit this case</a></div>
{% endblock %}

{% block content %}
<div>
<h3>animal data</h3>
<table>
	<tr>
		<th>animal</th>
		<td><a href="{% url animal_detail object_id=case.animal.id %}">{{ case.animal }}</a></td>
	</tr>
</table>
</div>
<div>
<h3>Visits</h3>
<ul>
	{% for visit in case.visit_set.all %}
	<li><a href="{% url visit_detail object_id=visit.id %}">{{ visit }}</a></li>
	{% endfor %}
</ul>
</div>
{% endblock %}
