{% extends "base.html" %}
{% load case_extras %}
{% load animal_extras %}
{% load datetime_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{{ form.media }}
{% endblock %}

{% block title %}Cases for {{ year }}{% endblock %}

{% block header %}
<h2 style="text-align:center;">
    <div style="display: float; float:left;">
        <a href="{% url cases_by_year year|add:"-1" %}">
            &#x2190; year before
        </a>
    </div>
    cases for {{ year }}
    <div style="display: float; float:right;">
        <a href="{% url cases_by_year year|add:"1" %}">
            year after &#x2192;
        </a>
    </div>
</h2>
{% endblock %}

{% block content %}
{% if yearcasenumbers %}
<table class="bordered sortable">
    <tr>
        {# TODO this is the same table as in case_search, just with two extra columns #}
        <th class="sorttable_numeric">#</th>
        <th>case</th>
        <th>NMFS ID</th>
        <th>animal</th>
        <th>first observation</th>
        <th>first report</th>
        <th class="sorttable_nosort">notes</th>
    </tr>
    {% for ycn in yearcasenumbers %}
    <tr>
        <td sorttable_customkey="{{ ycn.year|default:9999 }}{{ ycn.number|default:0|stringformat:"04d" }}{{ case.id|stringformat:"04d" }}">{{ ycn.year }}#{{ ycn.number }}</td>
        {% with ycn.case as case %}
	    <td>{% case_link case %}</td>
        <td>{{ case.nmfs_id|default:"<i>none</i>" }}</td>
	    <td>{% animal_link case.animal %}</td>
	    <td sorttable_customkey="{% datetime_sort_key case.first_observation_date %}">{{ case.first_observation_date }}</td>
	    <td sorttable_customkey="{% datetime_sort_key case.first_report_date %}">{{ case.first_report_date }}</td>
	    {% endwith %}
        <td>
            {% if ycn.case.yearcasenumber_set.count > 1 %}
            also known as:
            <ul>
                {% for old_ycn in ycn.case.yearcasenumber_set.all %}
                {% if old_ycn.id != ycn.id %}
                <li><a href="{% url cases_by_year old_ycn.year %}">{{ old_ycn.year }}</a>#{{ old_ycn.number }}{% if old_ycn.id == ycn.case.current_yearnumber.id %}<img src="{% url site-media "icons/current.png" %}" title="this is currently the year this case is assigned to">{% endif %}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<i>no cases have ever been assigned to {{ year }}</i>
{% endif %}
{% endblock %}
