{% extends "page.html" %}

{% block title %}{{ block.super }}: generate a report for cases{% endblock %}

{% block header %}
<h2>generate a case report</h2>
{% endblock %}

{% block content %}
<form taget="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <script type="text/javascript">
            $().ready(function(){
                RadioHider.init_with_selectors(
                    '{{ forms.case_report.new.html_name }}',
                    {
                        'new': '#new_report_form',
                        {# the table row with the case_report.report field #}
                        'existing': 'tr:has([name={{ forms.case_report.report.html_name }}])'
                    }
                );
                CheckboxHider.init_with_selectors(
                    '{{ forms.case_report.to_pdf.html_name }}',
                    'tr:has([name={{ forms.case_report.pdf_name.html_name }}])'
                );
            });
        </script>
        {{ forms.case_report.as_table }}
    </table>
    <div id="new_report_form" class="subform">
        <h3>new report</h3>
        <table>
            {{ forms.new_report.as_table }}
        </table>
    </div>
    <button type="submit">generate report</button>
</form>
{% endblock %}
