{% extends "base.html" %}
{% load animal_extras %}
{% load case_extras %}

{% block title %}{{ block.super }}: Cases{% endblock %}

{% block header %}<h2>All Cases</h2>{% endblock %}

{% block content %}
<table>
	<tr>
		<th>case</th>
		<th>type</th>
		<th>animal</th>
		<th>first observation</th>
		<th>first report</th>
	</tr>
	{% for case in case_list %}
	<tr>
		<td>{% case_link case %}</td>
		<td>{{ case.case_type }}</td>
		<td>{% animal_link case.animal %}</td>
		<td>{{ case.first_observation_date }}</td>
		<td>{{ case.first_report_date }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
