{% extends "detail.html" %}
{% load animal_extras %}
{% load case_extras %}

{% block head %}
{{ block.super }}
{{ forms.observation.media }}
{{ forms.observer_vessel.media }}
{# TODO media-import cleanup #}
<link 
    rel="stylesheet"
    type="text/css"
    href="{% url site-media path="jqueryui/overcast/jquery-ui-1.7.2.custom.css" %}"
    >
<script type="text/javascript" src="http://www.google.com/jsapi?key=INSERT-YOUR-KEY"></script>
<script type="text/javascript">
    google.load("jquery", "1", {uncompressed: true});
    google.load("jqueryui", "1", {uncompressed: true});

    $(function(){
        $('#tabs').tabs();
    });
</script>
{% endblock %}

{% block title %}{{ block.super }}: {{ case }}: {% block observation_title %}NO TITLE!{% endblock %}{% endblock %}

{% block header %}
{{ block.super }}
<h2>{{ case }}</h2>
<h2 style="margin-left:2em;">{% block observation_header %}NO HEADER!{% endblock %}</h2>
{% endblock %}

{% block ids-table-rows %}
<tr><th>Case name</th><td>{{ case.current_name }}</td></tr>
{% endblock %}

{% block content %}
<form action="" method="post">
<table class="layout"><tr class="layout"><td class="layout"> <!-- for making columns -->
	<div id="tabs">
		<ul>
			<li><a href="#reporting">Reporting</a></li>
			<li><a href="#observation">Observation</a></li>
			<li><a href="#animal">Animal</a></li>
			<li><a href="#incident">Incident</a></li>
		</ul>
		<div id="reporting">
            <h3>Reporting</h3>
            <table>
                <tr>
                    <th>report date and time</th>
                    <td>
                        {% with forms.report_datetime as d_form %}
                        {% include "datetime/edit_datetime_include.html" %}
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <th>reporter</th>
                    <td>
                        {# TODO firsthandedness #}
                        {% with forms.observation.reporter as f %}
                        {% include "unlabeled_field.html" %}
                        {% endwith %}
                    </td>
                </tr>
            </table>
		</div>
		<div id="observation">
            <h3>Observation</h3>
            <table>
                <tr><th>observer</th><td>
                    {% with forms.observation.observer as f %}
                    {% include "unlabeled_field.html" %}
                    {% endwith %}
                </td></tr>
                <tr>
                    <th>observation date and time</th>
                    <td>
                        {% with forms.observation_datetime as d_form %}
                        {% include "datetime/edit_datetime_include.html" %}
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <th>observation location</th>
                    <td>
                        {% with forms.location as l_form %}
                        {% include "locations/edit_location_include.html" %}
                        {% endwith %}
                        {% with forms.observation.observer_on_vessel as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                        <script type="text/javascript">
                            $().ready(function(){
                                var checkbox_sel = "#id_{{ forms.observation.observer_on_vessel.html_name }}";
                                $(checkbox_sel).change(function(event){
                                    if ( $(checkbox_sel + ":checked").val() ) {
                                        $("#vessel_info").show();
                                    } else {
                                        $("#vessel_info").hide();
                                    }
                                });
                                $(checkbox_sel).change();
                            });
                        </script>
                    </td>
                </tr>
                <tr id="vessel_info">
                    <th>vessel info for observer's vessel</th>
                    <td>
                        <div>
                            {% for f in forms.observer_vessel %}
                            {% include "labeled_field.html" %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
		</div>
        <div id="animal">
            <h3>Animal identification</h3>
            <table>
                <tr><th>taxon</th><td>
                {% with forms.observation.taxon as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                </td></tr>
                <tr><th>sex</th><td>
                {% with forms.observation.gender as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                </td></tr>
                <tr>
                <th>description</th>
                <td>
                {% with forms.observation.animal_description as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                </td>
                </tr>
            </table>
        </div>
        <div id="incident">
            <h3>Incident details</h3>
            <table>
                <tr>
                    <th>wounds?</th>
                    <td>
                        {% with forms.observation.wounded as f %}
                        {% include "unlabeled_field.html" %}
                        {% endwith %}
                        {% with forms.observation.wound_description as f %}
                        {% include "unlabeled_field.html" %}
                        {% endwith %}
                    </td>
                </tr>
                <tr><th>biopsy samples taken?</th>
                <td>
                {% with forms.observation.biopsy as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                </td></tr>
            </table>
        </div>
	</div>
</td><td class="layout">
    <div class="section">
        <h3>Narrative</h3>
        <div>
            {% with forms.observation.narrative as f %}
            {% include "unlabeled_field.html" %}
            {% endwith %}
        </div>
    </div>
</td></tr></table> <!-- for making columns -->
<button type="submit">{% block submit_button %}NO BUTTON!{% endblock %}</button>
</form>
{% endblock %}
