{% extends "detail.html" %}
{% load animal_extras %}
{% load case_extras %}

{% block head %}
{{ block.super }}
<style type="text/css">
    [name={{ forms.observation.narrative.html_name }}] { width: 100%; }
</style>
{% endblock %}

{% block title %}{{ block.super }}: {% block case_title %}{{ case|default:"new case" }}{% endblock %}: {% if observation %}{{ observation }} [editing]{% else %}new observation{% endif %}{% endblock %}

{% block ids %}
{% if animal %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% if case %}
<hr>
{% block case_ids %}
{% with case as c %}
{% include "incidents/case_ids_include.html" %}
{% endwith %}
{% endblock case_ids %}
{% endif %}
{% endblock ids-dl %}

{% block header %}
{% if case.ole_investigation %}
{% include "incidents/ole-warning.html" %}
{% endif %}
<h2>{{ animal|default:"<i>new animal</i>" }}</h2>
<h2 style="margin-left:1em;">{% block case_header %}{{ case|default:"<i>new case</i>" }}{% endblock %}</h2>
<h2 style="margin-left:2em;">{{ observation|default:"<i>new observation</i>" }}</h2>
{% endblock %}

{% block content %}
{% comment %}
<div>
<pre>
animals {{ forms.animal.errors }}
case {{ forms.case.errors }}
observation {{ forms.observation.errors }}
location {{ forms.location.errors }}
new_reporter {{ forms.new_reporter.errors }}
new_observer {{ forms.new_observer.errors }}
observer_vessel {{ forms.observer_vessel.errors }}
new_vesselcontact {{ forms.new_vesselcontact.errors }}
</pre>
</div>
{% endcomment %}
<form action="" method="post">
    <button type="submit">
        {% block submit_button %}
        {% if observation.id %}
        save changes to this observation and {{ case }} and {{ animal }}
        {% else %}{% if case.id %}
        add a new observation to {{ case }} and save changes to it and {{ animal }}
        {% else %}{% if animal.id %}
        add a new case and its initial observation for {{ animal }} and save changes to {{ animal }}
        {% else %}
        add a new animal and its first case and that case's initial observation
        {% endif %}{% endif %}{% endif %}
        {% endblock %}
    </button>
    {% csrf_token %}
    {{ tabs.render }}
</form>
{% endblock content %}

