{% extends "detail.html" %}
{% load animal_extras %}
{% load case_extras %}
{% load html_filter %}

{% block head %}
{{ block.super }}
<style type="text/css">
    /* attribute selectors are a big lacuna in IE 6...
     *
     * [name={{ forms.observation.narrative.html_name }}] { width: 100%; }
     */
    #{{ forms.observation.narrative.id_for_label }} { width: 100%; }
</style>
{% endblock %}

{% block title %}{{ block.super }}: {% if observation %}{{ observation }} [editing]{% else %}new observation{% endif %}{% endblock %}

{% block ids %}
{% if animal %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% block case_ids %}
{% if cases %}
{% for c in cases %}
{% include "incidents/case_ids_include.html" %}
{% endfor %}
{% endif %}
{% endblock case_ids %}
<hr>
{% endblock ids-dl %}

{% block header %}
{% for c in cases %}
{% if c.ole_investigation %}
{{ c|html }}: {% include "incidents/ole-warning.html" %}
{% endif %}
{% endfor %}
<h2>
{% if animal %}
{{ animal|html }}
{% else %}
<i>new animal</i>
{% endif %}
</h2>
{% for c in cases %}
<h2 style="margin-left:1em;">{% block case_header %}{{ c|html }}{% endblock %}</h2>
{% endfor %}
{% if new_case %}
<h2 style="margin-left:1em;"><i>new case</i></h2>
{% endif %}
<h2 style="margin-left:2em;">
{% if observation %}
{{ observation|html }}
{% else %}
<i>new observation</i>
{% endif %}
</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    <button type="submit">
        {% block submit_button %}
        {% if observation.id %}
        save changes to this observation and {{ cases|htmls|join:", " }} and {{ animal|html }}
        {% else %}{% if cases.0.id %}
        add a new observation to {{ cases|htmls|join:", " }} and save changes to it and {{ animal|html }}
        {% else %}{% if animal.id %}
        add a new case and its initial observation for {{ animal|html }} and save changes to {{ animal|html }}
        {% else %}
        add a new animal and its first case and that case's initial observation
        {% endif %}{% endif %}{% endif %}
        {% endblock %}
    </button>
    {% csrf_token %}
    {{ tabs.render }}
</form>
{% endblock content %}

