{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block title %}{{ block.super }}: create a new animal{% endblock %}

{% block header %}
<h2>new animal</h2>
{% endblock %}

{% block content %}
<form action="{% url create_animal %}" method="post">
    {% csrf_token %}
    <div class="section">
        {% if form.non_field_errors %}
        {{ form.non_field_errors }}
        {% endif %}
        {% with form.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.field_number as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_gender as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_dead_before as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.partial_necropsy as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.necropsy as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.cause_of_death as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </div>
	<button type="submit">add this animal</button>
</form>
{% endblock %}

