{% extends "detail.html" %}

{% block title %}{{ block.super }}: {{ case }} [editing]{% endblock %}

{% block ids-dl %}
{% with case.animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
<hr>
{% block case_ids %}
{% with case as c %}
{% include "incidents/case_ids_include.html" %}
{% endwith %}
{% endblock %}
{% endblock %}

{% block header %}
{% if case.ole_investigation %}
{% include "incidents/ole-warning.html" %}
{% endif %}
<h2>{{ animal|default:"<i>new animal</i>" }}</h2>
<h2 style="margin-left:1em;">{{ case }}</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    <button type="submit">
        save changes to {{ case }} and {{ animal }}
    </button>
    {% csrf_token %}
    
    {{ tabs.render }}

</form>
{% endblock %}

