{# expects a Case instance as 'case', and a CaseForm instance as 'case_form' #}

<h3>{{ case|default:"<i>new case</i>" }}</h3>

{% if case.observation_set.count > 1 %}
<div class="edit-warning">
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
    Note that this is case data for {{ case.observation_set.count }} observation{{ case.observation_set.count|pluralize }}.
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
</div>
{% endif %}

{{ case_form.non_field_errors }}

{% with case_form.nmfs_id as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.happened_after as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.valid as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.ole_investigation as f %}
{% include "labeled_field.html" %}
{% endwith %}

