{% extends "detail.html" %}
{% load html_filter %}

{% block title %}{{ block.super }}: {{ case }} [editing]{% endblock %}

{% block ids-dl %}
{% with case.animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
<hr>
{% block case_ids %}
{% with case as c %}
{% include "incidents/case_ids_include.html" %}
{% endwith %}
{% endblock %}
{% endblock %}

{% block header %}
{% if case.ole_investigation %}
{% include "incidents/ole-warning.html" %}
{% endif %}
<h2>
{% if animal %}
{{ animal|html }}
{% else %}
<i>new animal</i>
{% endif %}
</h2>
<h2 style="margin-left:1em;">{{ case|html }}</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    <button type="submit">
        save changes to {{ case|html }} and {{ animal|html }}
    </button>
    {% csrf_token %}
    
    {{ tabs.render }}

</form>
{% endblock %}

