<h3>{{ observation|default:"<i>new observation</i>" }}</h3>

{{ forms.observation.non_field_errors }}

{% with forms.observation.documentation as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.ashore as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.condition as f %}
{% include "labeled_field_defined.html" %}
{% endwith %}
{% with forms.observation.indication_entanglement as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.indication_shipstrike as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.wounded as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.wound_description as f %}
{% include "bigtext_field.html" %}
{% endwith %}

