{% extends "detail.html" %}
{% load html_filter %}

{% block title %}{{ block.super }}: {{ case }}: [choosing animal]{% endblock %}

{% block header %}
<h2>{{ case|html }}</h2>
<h2 style="margin-left:2em;">[choosing animal]</h2>
{% endblock %}

{% block content %}
{% if observation_set %}
Note that this will change the animal for these observations:
<ul>
    {% for o in observation_set %}
    <li>{{ o|html }} ({{ o.cases.all|htmls|join:", " }})</li>
    {% endfor %}
</ul>
{% endif %}
{% if case_set %}
Since some of these observations are relevant to other cases, this will
change the animal for these cases:
<ul>
    {% for c in case_set %}
    <li>{{ c|html }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class=section>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">save changes</button>
    </form>
<div>
{% endblock %}
