{% extends "incidents/edit_observation_tab.html" %}

{% block fields %}
<div class="section">
{% with forms.observation.ashore as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.condition as f %}
{% include "labeled_field_defined.html" %}
{% endwith %}
{% with forms.observation.indication_entanglement as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.gear_present as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.indication_shipstrike as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.wounded as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.wound_description as f %}
{% include "bigtext_field.html" %}
{% endwith %}
</div>
<div class="section">
{% with forms.observation.documentation as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.tagged as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.biopsy as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.genetic_sample as f %}
{% include "labeled_field.html" %}
{% endwith %}
</div>
{% endblock %}
