{% extends "detail.html" %}

{% block title %}{{ block.super }}: {{ animal }} [editing] {% endblock %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block header %}
<h2>{{ animal }} [editing]</h2>
{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<form action="" method="post">
    {% csrf_token %}
    <div class="section">
        {% with form.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_gender as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_dead_before as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.necropsy as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </div>
	<button type="submit">save changes to {{ animal }}</button>
</form>
{% endblock %}

