{# expects a Case instance as 'case', and a CaseForm instance as 'case_form' #}

<h3>{{ case|default:"<i>new case</i>" }}</h3>

{% if case.observation_set.count > 1 %}
<div class="edit-warning">
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
    Note that this is case data for {{ case.observation_set.count }} observation{{ case.observation_set.count|pluralize }}.
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
</div>
{% endif %}

{{ case_form.case.non_field_errors }}

{% with case_form.review_1_date as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.review_1_inits as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.review_2_date as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.review_2_inits as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.case_confirm_criteria as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.animal_fate as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.fate_cause as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.fate_cause_indications as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.si_prevented as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.included_in_sar as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.review_1_notes as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.review_2_notes as f %}
{% include "labeled_field.html" %}
{% endwith %}

