{% extends "detail.html" %}

{% block title %}{{ block.super }}: {{ animal }} [editing] {% endblock %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block ids-dl %}
{% with animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block header %}
<h2>{{ animal }} [editing]</h2>
{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<form action="" method="post">
    {% csrf_token %}
    <div class="section">
        {% with form.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with animal.probable_taxon as t %}
        {% if t and t != animal.determined_taxon %}
        <div class="edit-warning">
            <img src="{% url site-media path="icons/warning.png"%}">
            Based on observations of this animal, it is probably a <i>{{ t }}</i>.
            <img src="{% url site-media path="icons/warning.png"%}">
        </div>
        {% endif %}
        {% endwith %}
        {% with form.determined_taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with animal.probable_gender as s %}
        {% if s and s != animal.determined_gender %}
        <div class="edit-warning">
            <img src="{% url site-media path="icons/warning.png"%}">
            Based on observations of this animal, it is probably {{ animal.get_probable_gender_display }}.
            <img src="{% url site-media path="icons/warning.png"%}">
        </div>
        {% endif %}
        {% endwith %}
        {% with form.determined_gender as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_dead_before as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.necropsy as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </div>
	<button type="submit">save changes to {{ animal }}</button>
</form>
{% endblock %}

