{% extends "base.html" %}

{% block title %}{{ block.super }}: {{ animal }} [editing] {% endblock %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block header %}
<h2>{{ animal }} [editing]</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="section">
        {% with form.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.determined_gender as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with form.dead as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        <script type="text/javascript">
            $().ready(function(){
                CheckboxHider.init(
                    {# TODO js-string-escaping #}
                    "{{ form.dead.html_name }}",
                    "if_dead"
                );
            });
        </script>
        <div id="if_dead">
            {% with form.necropsy as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with form.determined_dead_before as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
    	<button type="submit">save changes</button>
    </div>
</form>
{% endblock %}

