{% extends "detail.html" %}
{% load visit_extras %}

{% block title %}{{ block.super }}: edit {{ case }}{% endblock %}

{% block ids-table-rows %}
<tr><th>local ID</th><td>{{ case.id }}</td></tr>
{% endblock %}

{% block content %}
<h2>Edit {{ case }}</h2>

<form action="" method="POST" class="section">
    <div class="field-wrapper">
    	{% with form.national_id as f %}
    		{% include "labeled_field.html" %}
        {% endwith %}
    	{% with form.regional_id as f %}
    		{% include "labeled_field.html" %}
        {% endwith %}
    	{% with form.field_id as f %}
    		{% include "labeled_field.html" %}
        {% endwith %}
    </div>
    <p><button type="submit">update case</button></p>
</form>

<div class="section">
    <h3>Observation:</h3>
    {% if case.observation_set.count %}
    <table>
        {% for observation in case.observation_set.all %}
        <tr><td>{{ observation }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{% url add_observation case.id %}">
        {% if not case.observation_set.count %}
        add the initial observation
        {% else %}
        add another observation
        {% endif %}
    </a>
<div>
{% endblock %}

