{% extends "incidents/edit_observation_tab.html" %}

{% block fields %}
<div>
    {% with forms.observation.taxon as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% if animal.id and animal.determined_taxon %}
    <div class="edit-warning">
        <img
            src="{% url site-media path="icons/warning.png"%}"
        >
        Note that this animal has been determined to be a <i>{{ animal.determined_taxon }}</i>.
        <img
            src="{% url site-media path="icons/warning.png"%}"
        >
    </div>
    {% endif %}
    {% with forms.observation.gender as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% if animal.id and animal.determined_gender %}
    <div class="edit-warning">
        <img
            src="{% url site-media path="icons/warning.png"%}"
        >
        Note that this animal has been determined to be {{ animal.get_determined_gender_display }}.
        <img
            src="{% url site-media path="icons/warning.png"%}"
        >
    </div>
    {% endif %}
</div>
<div>
    {% with forms.observation.animal_description as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
</div>
<div>
    {% with forms.observation.animal_length_and_sigdigs as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.observation.age_class as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
</div>
{% endblock %}

