{% extends "base.html" %}
{% load case_extras %}

{% block title %}{{ block.super }}: {{ case }}{% endblock %}

{% block ids-table-rows %}
<tr><th>local ID</th><td>{{ case.id }}</td></tr>
<tr><th>current name</th><td>{{ case.current_name }}</td></tr>
{% if case.past_names_set %}
<tr><th>past names</th><td>
    {% for past_name in case.past_names_set %}
    {{ past_name }}<br>
    {% endfor %}
</td></tr>
{% endif %}
{% endblock %}

{% block header %}
{{ block.super }}
<div>
    <h2>Merging {% case_link newer_case %} into {% case_link older_case %}</h2>
</div>
{% endblock %}

{% block content %}
<table class="layout">
<tr><th>older case</th><th>merged case</th><th>newer case</th></tr>

<tr class="layout">
<td class="layout">
    <div class="section">
        <div>
            <span class="fieldname">Animal</span> <a href="{% url animal_detail object_id=older_case.animal.id %}">{{ older_case.animal }}</a>
        </div>
        <div>
            <span class="fieldname">OLE investigation?</span> {{ older_case.ole_investigation|yesno:"yes,no,unknown" }}
        </div>
    </div>
    <div class="section">
        <h3>Observations</h3>
        <table>
            <tr><th>observer</th><th>date observed</th><th>date reported</th><th>start of narrative...</th>
            {% for o in older_case.observation_set.all %}
            <tr><td>{{ o.observer }}</td><td>{{ o.observation_datetime }}</td><td>{{ o.report_datetime }}</td><td><a href="{% url observation_detail object_id=o.id %}">{{ o.narrative|truncatewords:9 }}</a></td></tr>
            {% endfor %}
        </table>
    </div>
</td>

<td class="layout">
    <form method="post" class="section">
        <div>
            <div>
       		    {% with form.animal as f %}
		        {% include "labeled_field.html" %}
		        {% endwith %}
            </div>
            <div>
       		    {% with form.ole_investigation as f %}
		        {% include "labeled_field.html" %}
		        {% endwith %}
            </div>
            <div>
            <h3>Observations</h3>
            The merged case will have all observation from both cases.
            </div>
            <div style="width: 100%; text-align: center;">
                <button type="submit">merge!</button>
            </div>
        </div>
    </form>
</td>

<td class="layout">
    <div class="section">
        <div>
            <span class="fieldname">Animal</span> <a href="{% url animal_detail object_id=newer_case.animal.id %}">{{ newer_case.animal }}</a>
        </div>
        <div>
            <span class="fieldname">OLE investigation?</span> {{ newer_case.ole_investigation|yesno:"yes,no,unknown" }}
        </div>
    </div>
    <div class="section">
        <h3>Observations</h3>
        <table>
            <tr><th>observer</th><th>date observed</th><th>date reported</th><th>start of narrative...</th>
            {% for o in newer_case.observation_set.all %}
            <tr><td>{{ o.observer }}</td><td>{{ o.observation_datetime }}</td><td>{{ o.report_datetime }}</td><td><a href="{% url observation_detail object_id=o.id %}">{{ o.narrative|truncatewords:9 }}</a></td></tr>
            {% endfor %}
        </table>
    </div>
</td>
</tr>
</table>
{% endblock %}
