{% extends "page.html" %}

{% block title %}{{ block.super }}: Observations{% endblock %}

{% block header %}<h2>Observations</h2>{% endblock %}

{% block content %}
{% if form.is_bound %}
<div style="text-align: center;">
    {{ observation_count|default:"no" }} matching observation{{ observation_count|pluralize }}
</div>

{% if observation_count > 0 %}
{% with observations.object_list as observations %}
{% include "incidents/observation_list_include.html" %}
{% endwith %}
{% with observations as page %}
{% with 'the_form' as form_id %}
{% include "paging_form_include.html" %}
{% endwith %}
{% endwith %}
{% endif %} {# observation_count > 0 #}
{% else %} {# form.is_bound #}
<p>click 'search' to see a list of observations</p>
{% endif %} {# form.is_bound #}
<form id="the_form" action="{% url observation_search %}" method="get">
    <table class="section">
        {{ form.as_table }}
        {{ paging_form.as_table }}
    </table>
    <button type="submit">search</button>
</form>
{% endblock %}

