{% extends "detail.html" %}
{% load animal_extras %}
{% load contact_extras %}
{% load case_extras %}

{% block head %}
{{ block.super }}
{# location_details_include.html expects this #}
<script type="text/javascript" src="{% url site-media path="jquery/jquery-1.3.2.min.js" %}"></script>
{% endblock %}

{% block title %}{{ block.super }}: {{ observation }}{% endblock %}

{% block header %}
{{ block.super }}
{% if observation.case.ole_investigation %}
{% include "incidents/ole-warning.html" %}
{% endif %}
<h2>{% case_link observation.case %}</h2>
<h2 style="margin-left:2em;">{{ observation }}</h2>
<div>
    <a href="{% url edit_observation observation.id %}">edit this observation</a>
</div>
{% endblock %}

{% block ids-dl %}
<dt>Case name</dt><dd>{{ observation.case.current_name }}</dd>
<dt>local ID</dt><dd>{{ observation.id }}</dd>
{% endblock %}

{% block content %}
<table class="layout">
    <tr class="layout">
        <td class="layout" width="50%"> <!-- for making columns -->
            <div class="section">
                <h3>Observation</h3>
                <table>
                    <tr>
                        <th>observation date and time</th>
                        <td>{{ observation.observation_datetime }}</td>
                    </tr>
                    <tr>
                        <th>observation location</th>
                        <td>
                            {% if observation.location %}
                            {% with observation.location as l %}
                            {% include "locations/location_details_include.html" %}
                            {% endwith %}
                            {% else %}
                            <i>none</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><th>observer</th><td>{% contact_link observation.observer %}</td></tr>
                    <tr>
                        <th>vessel info for observer's vessel</th>
                        <td>{{ observation.observer_vessel }}</td>
                    </tr>
                </table>
                <h3>Reporting</h3>
                <table>
                    <tr>
                        <th>report date and time</th>
                        <td>{{ observation.report_datetime }}</td>
                    </tr>
                    <tr>
                        <th>reporter</th>
                        <td>
                            {% if observation.firsthand %}
                            <i>reported by the observer</i>
                            {% else %}
                            {% contact_link observation.reporter %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div> <!-- class="section" -->
            <div class="section">
                <h3>Animal identification</h3>
                <table>
                    {% if observation.taxon %}
                    <tr><th>taxon</th><td>{{ observation.taxon }}</td></tr>
                    {% endif %}
                    {% if observation.gender %}
                    <tr><th>sex</th><td>{{ observation.gender }}</td></tr>
                    {% endif %}
                    <tr>
                        <th>description</th>
                        <td>
                            <pre>{{ observation.animal_description|default:"<i>none</i>" }}</pre>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Incident details</h3>
                <table>
                    <tr>
                        <th>wounds?</th>
                        <td>
                            {% if observation.wounded %}
                            {{ observation.wound_description }}
                            {% else %}
                            <i>None observed</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><th>biopsy samples taken?</th><td>{{ observation.biopsy }}</td></tr>
                </table>
            </div>
        </td>
        <td class="layout" width="50%">
            <div class="section">
                <h3>Narrative</h3>
                <div>{{ observation.narrative|default:"<i>nothing</i>"|linebreaks }}</div>
            </div>
            {% if observation.import_notes %}
            <div class="section">
                <h3>Import notes</h3>
                <div style="font-family: Terminus, monospace; font-size:75%;">{{ observation.import_notes|linebreaks }}</div>
            </div>
            {% endif %}
        </td>
    </tr>
</table> <!-- for making columns -->
{% endblock %}

