{% extends "detail.html" %}
{% load animal_extras %}
{% load contact_extras %}
{% load case_extras %}
{% load generic_field_display %}
{% load taxon_extras %}

{% block title %}{{ block.super }}: {{ observation }}{% endblock %}

{% block header %}
{% for c in observation.cases.all %}
{% if c.ole_investigation %}
{% include "incidents/ole-warning.html" %}
{% endif %}
{% endfor %}
<h2>{% animal_link observation.animal %}</h2>
{% for c in observation.cases.all %}
<h2 style="margin-left:1em;">{% case_link c %}</h2>
{% endfor %}
<h2 style="margin-left:2em;">{{ observation }}</h2>
{# the observation-editing page change also change animals and cases #}
{% if perms.incidents.change_animal and perms.incidents.change_case and perms.incidents.change_observation %}
<div>
    <a href="{% block edit_url %}{% url edit_observation observation.id %}{% endblock %}#reporting">edit this observation</a>
</div>
{% endif %}
{% endblock %}

{% block ids-dl %}
{% with observation.animal as a %}
{% include "incidents/animal_ids_include.html" %}
{% endwith %}
<hr>
{% block case_ids %}
<table class="layout">
  <tr>
    {% for c in observation.cases.all %}
    <td>{% include "incidents/case_ids_include.html" %}</td>
    {% endfor %}
  </tr>
</table>
{% endblock %}
<hr>
{% with observation as o %}
{% include "incidents/observation_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<table class="layout">
    <tr class="layout">
        <td class="layout" width="50%"> <!-- for making columns -->
            <div class="section">
                <h3>Observation</h3>
                {% if observation.initial %}
                <div class="note"><img src="{{ MEDIA_URL }}icons/Level-A_initial.png"> This is the &#x2018;initial observation&#x2019; on a Level A form. <img src="{{ MEDIA_URL }}icons/Level-A_initial.png"></div>
                {% endif %}
                {% if observation.exam %}
                <div class="note"><img src="{{ MEDIA_URL }}icons/Level-A_exam.png"> This is the &#x2018;examination&#x2019; on a Level A form. <img src="{{ MEDIA_URL }}icons/Level-A_exam.png"></div>
                {% endif %}
                <table>
                    {% display_row observation "datetime_observed" %}
                    <tr class="field">
                        <th>observation location</th>
                        <td>
                            {% with observation.location as l %}
                            {% include "locations/location_details_include.html" %}
                            {% endwith %}
                        </td>
                    </tr>
                    <tr class="field"><th>observer</th><td>{% contact_link observation.observer %}</td></tr>
                    {% if observation.observer_vessel %}
                    <tr class="field">
                        <th>vessel info for observer's vessel</th>
                        <td>
                            {% with observation.observer_vessel as v %}
                            {% include "vessels/vessel_details_include.html" %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endif %}
                </table>
                <h3>Reporting</h3>
                <table>
                    {% display_row observation "datetime_reported" %}
                    <tr class="field">
                        <th>reporter</th>
                        <td>
                            {% if observation.firsthand %}
                            <i>reported by the observer</i>
                            {% else %}
                            {% contact_link observation.reporter %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div> <!-- class="section" -->
            <div class="section">
                <h3>Animal identification</h3>
                <table>
                    {% if observation.taxon %}
                    <tr class="field"><th>taxon</th><td>{% taxon_link observation.taxon %}</td></tr>
                    {% endif %}
                    {% if observation.gender %}
                    {% display_chosen_row observation "gender" %}
                    {% endif %}
                    {% if observation.age_class %}
                    {% display_chosen_row observation "age_class" %}
                    {% endif %}
                    {% display_row observation "animal_description" "description" %}
                    {% display_yesnounk_row observation "biopsy" %}
                    {% display_yesnounk_row observation "genetic_sample" %}
                    {% display_yesnounk_row observation "tagged" %}
                </table>
            </div>
            <div class="section">
                <h3>Incident details</h3>
                <table>
                    {% display_chosen_row observation "condition" %}
                    {% display_yesnounk_row observation "ashore" %}
                    {% display_yesnounk_row observation "wounded" %}
                    {% display_bigtext_row observation "wound_description" %}
                </table>
            </div>
        </td>
        <td class="layout" width="50%">
            {% block case_type_fields %}
            {% endblock %}
            <div class="section">
                <h3>Narrative</h3>
                {% display_unlabeled_bigtext_div observation "narrative" %}
            </div>
            {% with observation as documentable %}
            {% include "documents/view_attachments_include.html" %}
            {% endwith %}
            {% if observation.import_notes %}
            <div class="section">
                <h3>Import notes</h3>
                <div style="font-family: Terminus, monospace; font-size:75%;">{% display_unlabeled_bigtext_div observation "import_notes" %}</div>
            </div>
            {% endif %}
        </td>
    </tr>
</table> <!-- for making columns -->
{% endblock %}

