{# assumes a list of observations as 'observations' in the context #}
{% load observation_extras %} {# for date_observed_display #}
{% load link_filter %}

<i>{{ observations|length }} observation{{ observations|length|pluralize }}</i>
<table class="bordered sortable">
    <thead>
        <tr>
            {# the observations-editing page can also change animals and cases #}
            {% if perms.incidents.change_animal and perms.incidents.change_case and perms.incidents.change_observation %}
            <th class="sorttable_nosort"><!-- case edit link --></th>
            {% endif %}
            <th>observation</th>
            <th class="sorttable_nosort">animal</th>
            <th class="sorttable_nosort">cases</th>
            <th>observed</th>
            <th>reported</th>
            <th class="sorttable_nosort">observer</th>
        </tr>
    </thead>
    <tbody>
        {% for o in observations %}
        <tr>
            {# the obs-editing page can also change animals #}
            {% if perms.incidents.change_animal and perms.incidents.change_case and perms.incidents.change_observation %}
            <td>
                <a href="{{ o.specific_instance.get_edit_url }}">
                    <img src="{{ MEDIA_URL}}icons/edit.png" alt="edit" title="edit this observation">
                </a>
            </td>
            {% endif %}
            <td sorttable_customkey="{{ o.id|stringformat:"04d" }}">{{ o|link }}</td>
            <td>{{ o.animal|link }}</td>
            <td>
                {% if o.cases.count > 1 %}
                <ul>
                    {% for c in o.cases.all %}
                    <li>
                        {{ c|link }}
                    </li>
                    {% endfor %}
                <ul>
                {% else %}
                {{ o.cases.all.0|link }}
                {% endif %}
            </td>
	        {% with o.datetime_observed as date %}
	        <td sorttable_customkey="{{ date.sortkey }}">{% date_observed_display date %}</td>
	        {% endwith %}
	        {% with o.datetime_reported as date %}
	        <td sorttable_customkey="{{ date.sortkey }}">{% date_observed_display date %}</td>
	        {% endwith %}
	        <td sorttable_customkey="{{ o.observer.sort_name }}">
                {{ o.observer|link }}
	        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

