{% spaceless %}
{% if case.ole_investigation %}<span class="ole-true">{% endif %}
    <a href="{{ case.detailed.get_absolute_url }}">{% if not case.valid %}<span class="invalid">{% endif %}{{ case }}{% if not case.valid %}</span>{% endif %}</a>
    {% if case.ole_investigation %}
    <img
        src="{% url site-media path="icons/OLE.png"%}"
        alt="OLE"
        title="there's an OLE investigation for this case">
    {% endif %}
    {% include "incidents/case-valid-icon.html" %}
{% if case.ole_investigation %}</span>{% endif %}
{% endspaceless %}
