<a href="{{ observation.get_absolute_url }}">{{ observation }}</a>
{% if observation.initial %}<img alt="Level A initial observation" title="this corresponds to the &#x2018;initial observation&#x2019; on a Level A" src="{{ media_url }}icons/Level-A_initial.png">{% endif %}
{% if observation.exam %}<img alt="Level A examination" title="this observation corresponds to the &#x2018;examination&#x2019; on a Level A" src="{{ media_url }}icons/Level-A_exam.png">{% endif %}
{% with observation.animal.determined_dead_before as dead %}
{% with observation.earliest_datetime.date as start %}
{% with observation.latest_datetime.date as end %}

{% if dead < start %}
<span style="color:black;" title="the animal was determined dead before this observation">&#x2620;</span>
{% endif %}

{% if dead >= start and dead <= end %}
<span style="color:red;" title="the animal was determined dead during this observation">&#x2620;</span>
{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}

