{% extends "base.html" %}

{% block account_corner %}{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit">login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </td>
        <tr>
    </table>
    <p>Welcome to the Marine Mammal Injury Database. This database is meant to be a information depot for large whale entanglements, ship strikes, gear analysis and serious injury determinations.  Accessibility to this information is limited due to the sensitive nature of certain cases as defined under the MMPA, ESA and the Magnuson Stevens Act.  Any requests for information should be channeled through NMFS NERO PRD division.</p>
    <p><em>You are accessing a United States government computer system.The use of this system will be monitored for security, system administration, and law enforcement purposes. Accessing this system constitutes consent to monitoring. Any unauthorized access of this system or unauthorized use of the information on this system by unauthorized users or others is prohibited and is subject to criminal and civil penalties under federal and other laws.</em></p>
</form>

{% endblock %}

