<div id="taxon_widget" style="display: inline-block;">
    <script type="text/javascript">
        {# TODO disable autoescape in JS #}
        // TODO don't execute until taxon_widget.js has been loaded
        TaxonWidget.init(
            '{{ name }}',
            'taxon_filter',
            'results_box',
            'taxon_chosen',
            'clear_taxon'
        );
    </script>
    {{ initial_taxon }}
    <div id="search_box" style="display: inline-block;">
        search taxons for
        <input id="taxon_filter" type="text" autocomplete="off">
        <div id="results_box" class="searchlist" style="display: none;">
            <i>no query</i>
        </div>
    </div>
    <span id="taxon_chosen"></span>
    <button type="button" id="clear_taxon">clear selection</button>
    <input {{ final_attrs|safe }}>
</div>

