<div class="taxon_widget">
    <!-- TODO noscript -->
    <script type="text/javascript">
        {# TODO disable autoescape in JS #}
        // TODO don't execute until taxon_widget.js has been loaded
        TaxonWidget.init(
            '{{ name }}',
            '{{ name }}_taxon_filter',
            '{{ name }}_results_box',
            '{{ name }}_taxon_chosen',
            '{{ name }}_clear_taxon',
            '{% url taxon_search %}',
            '{% url site-media path="Loader3.gif" %}'
        );
    </script>
    <div class="taxon_widget_search_box">
        search taxons for:
        <input id="{{ name }}_taxon_filter" class="taxon_widget_filter" type="text" autocomplete="off">
        <div id="{{ name }}_results_box" class="taxon_widget_searchlist" style="display: none;">
            <i>no query</i>
        </div>
    </div>
    <span id="{{ name }}_taxon_chosen">{{ initial_display_name }}</span>
    <button id="{{ name }}_clear_taxon">clear taxon</button>
    <input {{ final_attrs|safe }}>
</div>

