{% extends "incidents/case_base.html" %}

{% block merge_link %}
{% if perms.incidents.change_case and perms.incidents.delete_case %}
{% if perms.shipstrikes.change_entanglement and perms.shipstrikes.delete_entanglement %}
<script type="text/javascript">
    jQuery(document).ready(function(){
	    $('.accordion .header').click(function() {
		    $(this).next().toggle('fast');
		    return false;
	    }).next().hide();
    });
</script>
<div class="accordion">
    <div class="header">
        <a href="#">merge another case into this one...</a>
    </div>
    <form action="{% url shipstrike_merge case.id %}" method="GET">
        <div style="margin-left:2em;">
            {% if case.animal.case_set.count > 1 %}
            {{ merge_form.as_p }}
            <button type="submit">view merge</button>
            {% else %}
            There are no other cases for this animal.
            {% endif %}
        </div>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock merge_link %}

{# TODO is this needed ? will the case-edit view delegate accordingly? #}
{% block edit_case_link %}
{% if perms.shipstrikes.change_shipstrike %}
<a href="{% url edit_shipstrike case.id %}">edit this shipstrike</a>
{% endif %}
{% endblock %}

{# TODO is this needed ? will the add-observation view delegate accordingly? #}
{% block add_observation_link %}
{% if perms.shipstrikes.change_shipstrike and perms.shipstrikes.add_shipstrikeobservation %}
<a href="{% url add_shipstrikeobservation case.id %}">add an observation</a>
{% endif %}
{% endblock %}

