{% extends "incidents/observation_detail.html" %}
{% load contact_extras %}
{% load countries_tags %}

{% block case_type_fields %}
<h3>Shipstrike</h3>
{% if observation.striking_vessel %}
{% with observation.striking_vessel as sv %}
<table>
    {% if sv.imo_number %}
    <tr><th>IMO number</th><td>{{ sv.imo_number }}</td></tr>
    {% endif %}
    {% if sv.name or sv.flag %}
    <tr><th>{% if sv.name %}name{% endif %}{% if sv.name and sv.flag %} and {% endif %}{% if sv.flag %}flag{% endif %}</th><td>{{ sv.flag }}{{ sv.flag|iso_flag }}</td></tr>
    {% endif %}
    <tr>
        <th>contact</th>
        <td>
        {% if sv.contact %}
        {% contact_link sv.contact %}
        {% else %}
        <i>no contact info</i>
        {% endif %}
        </td>
    </tr>
</table>
{% endwith %}
{% else %}
<i>no info for striking vessel</i>
{% endif %}
{% endblock %}
