{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block title %}{{ block.super }}: New Shipstrike Report{% endblock %}

{% block header %}<h1>New Shipstrike Report</h1>{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}<table class="layout">
    <!---
    <tr><td colspan="2" style="width:100%;">
        {% for formname, form in forms.items %}
        <dl>
            <dd>{{ formname }}</dd>
            <dt>
            {{ form.errors }}
            </dt>
        </dl>
        {% endfor %}
    </td></tr>
    -->
    <tr><td style="width:50%; vertical-align:top;">
    <div class="section">
        <h3>report date and time</h3>
        {% with forms.report_datetime as d_form %}
        {% include "uncertain_datetimes/edit_datetime_include.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>reporter</h3>
        <script type="text/javascript">
            $().ready(function(){
                RadioHider.init('observation-new_reporter', {
                {# TODO get the values from forms.observation.new_reporter.field #}
                    'new': 'reporter_new_contact',
                    'other': 'reporter_existing_contact'
                });
            });
        </script>
        {% with forms.observation.new_reporter as f %}
        {% include "unlabeled_field.html" %}
        {% endwith %}
        <div id="reporter_new_contact" style="display:none;">
            {% with forms.new_reporter.name as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_reporter.phone as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_reporter.email as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
        <div id="reporter_existing_contact" style="display:none;">
            {% with forms.observation.reporter as f %}
            {% include "unlabeled_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="section">
        <h3>observation date and time</h3>
        {% with forms.observation_datetime as d_form %}
        {% include "uncertain_datetimes/edit_datetime_include.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>observer</h3>
        <script type="text/javascript">
            $().ready(function(){
                RadioHider.init('observation-new_observer', {
                {# TODO get the values from forms.observation.new_reporter.field #}
                    'new': 'observer_new_contact',
                    'other': 'observer_existing_contact'
                });
            });
        </script>
        {% with forms.observation.new_observer as f %}
        {% include "unlabeled_field.html" %}
        {% endwith %}
        <div id="observer_new_contact" style="display:none;">
            {% with forms.new_observer.name as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_observer.phone as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_observer.email as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
        <div id="observer_existing_contact" style="display:none;">
            {% with forms.observation.observer as f %}
            {% include "unlabeled_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="section">
        <h3>observation location</h3>
        {% with forms.location.coordinates_lat_input as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.location.coordinates_lng_input as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.location.description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    {% with forms.observation.documentation as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.observation.biopsy as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.observation.tagged as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.case.ole_investigation as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td><td style="width:50%; vertical-align:top;">
    <div class="section">
        <h3>Animal</h3>
        {% with forms.animal.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.observation.taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.observation.animal_description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
        {% with forms.observation.wound_description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    <div class="section">
        {% with forms.observation.striking_vessel_info as f %}
        {% include "unlabeled_field.html" %}
        {% endwith %}
        <script type="text/javascript">
            $().ready(function(){
                var checkbox_sel = "[name={{ forms.observation.striking_vessel_info.html_name }}]";
                $(checkbox_sel).change(function(event){
                    if ( $(checkbox_sel + ":checked").val() ) {
                        $("#striking_vessel_info").show();
                    } else {
                        $("#striking_vessel_info").hide();
                    }
                });
                $(checkbox_sel).change();
            });
        </script>
        <div id="striking_vessel_info">
            <h3>Striking Vessel</h3>
            <script type="text/javascript">
                $().ready(function(){
                    RadioHider.init('striking_vessel-new_vesselcontact', {
                    {# TODO get the values from forms.observation.new_reporter.field #}
                        'new': 'striking_vessel_new_contact',
                        'other': 'striking_vessel_existing_contact'
                    });
                });
            </script>
            {% with forms.striking_vessel.new_vesselcontact as f %}
            {% include "unlabeled_field.html" %}
            {% endwith %}
            <div id="striking_vessel_new_contact" style="display:none; border: 1px solid;">
                {% with forms.new_striking_vessel_contact.name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with forms.new_striking_vessel_contact.phone as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with forms.new_striking_vessel_contact.email as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </div>
            <div id="striking_vessel_existing_contact" style="display:none;">
                {% with forms.striking_vessel.contact as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
            </div>
            {% with forms.striking_vessel.name as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.imo_number as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.flag as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.description as f %}
            {% include "bigtext_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.length as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.draft as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.tonnage as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.striking_vessel.speed as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="section">
        {% with forms.observation.narrative as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    </td></tr>
    <tr><td colspan="2">
    <button type="submit" style="width:100%;">Add a new Case, Animal, and initial Observation to the database</button>
    </td></tr>
</table></form>
{% endblock %}

