{# assumes a ContactForm named 'form' #}
<table class="layout">
    <tr class="layout">
        <td class="layout">
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
            <div class="subform">
                <h3>Contact Info</h3>
                {% with form.name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.sort_name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.person as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.phone as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.email as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.address as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.notes as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </div>
        </td>
        <td class="layout">
            <div class="subform">
                <h3>Contact Affiliations</h3>
                {% with form.affiliations as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                {% if perms.contacts.add_organization %}
                <div>
                    <span class="fieldname">add new organizations to be affiliated with:</span>
                    <table>
                        {{ form.new_affs.as_table }}
                    </table>
                </div>
                {% endif %}
            </div>
        </td>
    </tr>
</table>

