{% extends "base.html" %}
{% load contact_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Contacts{% endblock %}

{% block header %}<h2>All Contacts</h2>{% endblock %}

{% block content %}
{% if contact_list %}
<table class="sortable">
    <thead>
        <tr>
            <th>contact</th>
        </tr>
    </thead>
    {% for contact in contact_list %}
    <tr>
        <td sorttable_customkey="{{ contact.sort_name }}">{% contact_link contact %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<i>No contacts yet!</i>
{% endif %}
<div>
    <a href="{% url create_contact%}">new contact</a>
</div>
{% endblock %}

