{% extends "page.html" %}
{% load contact_extras %}
{% load observation_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Contacts{% endblock %}

{% block header %}<h2>Contacts</h2>{% endblock %}

{% block content %}
<table class="layout">
    <tr>
        <td class="section">
            {% if contact_list %}
            <table class="sortable bordered">
                <colgroup span="1"></colgroup>
                <colgroup span="3"></colgroup>
                <colgroup span="3"></colgroup>
                <colgroup span="1"></colgroup>
                <thead style="vertical-align: top;">
                    <tr>
                        <th scope="col">contact</th>
                        <th scope="col"><abbr title="observations">obs.</abbr><br>count</th>
                        <th scope="col"><abbr title="observations">obs.</abbr><br>earliest</th>
                        <th scope="col"><abbr title="observations">obs.</abbr><br>latest</th>
                        <th scope="col">reports<br>count</th>
                        <th scope="col">reports<br>earliest</th>
                        <th scope="col">reports<br>latest</th>
                        <th scope="col">vessel<br>count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contact_list %}
                    <tr>
                        <td scope="row"{% if contact.sort_name %} sorttable_customkey="{{ contact.sort_name }}"{% endif %}>
                            {% contact_link contact %}
                        </td>
                        
                        <td>
                            {{ contact.observed.count }}
                        </td>
                        {% if contact.observed.count %}
                        {% with contact.observed_ordered|first as first_o %}
                        <td sorttable_customkey="{{ first_o.datetime_observed.sortkey }}">
                            <a href="{{ first_o.get_absolute_url }}">
                                {% datetime_observed_display first_o.datetime_observed %}
                            </a>
                        </td>
                        {% endwith %}
                        {% with contact.observed_ordered.reverse|first as last_o %}
                        <td sorttable_customkey="{{ last_o.datetime_observed.sortkey }}">
                            <a href="{{ last_o.get_absolute_url }}">
                                {% datetime_observed_display last_o.datetime_observed %}
                            </a>
                        </td>
                        {% endwith %}
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        {% endif %}

                        <td>
                            {{ contact.reported.count }}
                        </td>
                        {% if contact.reported.count %}
                        {% with contact.reported_ordered|first as first_r %}
                        <td sorttable_customkey="{{ first_r.datetime_reported.sortkey }}">
                            <a href="{{ first_r.get_absolute_url }}">
                                {% datetime_observed_display first_r.datetime_reported %}
                            </a>
                        </td>
                        {% endwith %}
                        {% with contact.reported_ordered.reverse|first as last_r %}
                        <td sorttable_customkey="{{ last_r.datetime_reported.sortkey }}">
                            <a href="{{ last_r.get_absolute_url }}">
                                {% datetime_observed_display last_r.datetime_reported %}
                            </a>
                        </td>
                        {% endwith %}
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        {% endif %}
                        
                        <td>{{ contact.for_vessels.count }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <i>No contacts yet!</i>
            {% endif %}
            {% if perms.contacts.add_contact %}
            <div>
                <a href="{% url create_contact %}">new contact</a>
            </div>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}

