{% extends "base.html" %}
{% load contact_extras %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}

{% block title %}{{ block.super }}: Contacts{% endblock %}

{% block header %}<h2>Contacts</h2>{% endblock %}

{% block content %}
<table class="layout">
    <tr>
        <td class="section">
            {% if contact_list %}
            <table class="sortable bordered">
                <thead style="vertical-align: top;">
                    <tr>
                        <th scope="col">contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contact_list %}
                    <tr>
                        <td scope="row"{% if contact.sort_name %} sorttable_customkey="{{ contact.sort_name }}"{% endif %}>
                            {% contact_link contact %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <i>No contacts yet!</i>
            {% endif %}
            <div>
                <a href="{% url create_contact %}">new contact</a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}

