{% extends "detail.html" %}
{% load generic_field_display %}
{% load observation_extras %} {# for datetime_observed_display #}
{% load link_filter %}
{% load html_filter %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url site-media path="sorttable/sorttable.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% url site-media path="sorttable/sorttable.css" %}">
{% endblock %}


{% block ids-dl %}
<dt><b>contact</b> local ID</dt><dd>{{ contact.id }}</dd>
{% endblock %}

{% block header %}
<div>
    <h2>{{ contact|html }}</h2>
</div>
{% endblock %}

{% block content %}
{% block contact_fields %}
<table class="layout">
    <tr class="layout">
        <td class="layout" style="width:50%;">
            <table class="section">
                {% display_row contact "name" %}
                {% display_yesnounk_row contact "person" "person, or organization?" "person,organization,unknown" %}
                {% if contact.phone %}
                {% display_row contact "phone" %}
                {% endif %}
                {% if contact.email %}
                {% display_row contact "email" %}
                {% endif %}
                {% if contact.address %}
                {% display_bigtext_row contact "address" %}
                {% endif %}
                {% display_bigtext_row contact "notes" %}
            </table>
        </td>
        <td class="layout" style="width:50%;">
            <div class="section">
                <h3>Affiliations</h3>
                {% if contact.affiliations.count %}
                <ul>
                    {% for o in contact.affiliations.all %}
                    <li>{{ o|html }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <i>none</i>
                {% endif %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}
<div class="section">
    <div>
        <h3>Observations reported or observed</h3>
        {% if contact.observed.count or contact.reported.count %}
        <table class="sortable">
            <thead>
                <tr>
                    <th class="sorttable_nosort">&nbsp;</th>
                    <th>observer</th>
                    <th>date observed</th>
                    <th>reporter</th>
                    <th>date reported</th>
                    <th class="sorttable_nosort">start of narrative...</th>
                </tr>
            </thead>
            <tbody>
                {% for o in contact.observed_or_reported_ordered.reverse.all %}
                <tr>
                    <td>{{ o|link }}</td>
                    <td>{{ o.observer|link }}</td>
                    <td sorttable_customkey="{{ o.datetime_observed.sortkey }}">{% datetime_observed_display o.datetime_observed %}</td>
                    <td>{{ o.reporter|link }}</td>
                    <td sorttable_customkey="{{ o.datetime_reported.sortkey }}">{% datetime_observed_display o.datetime_reported %}</td>
                    <td>{{ o.narrative|truncatewords:9 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <i>none</i>
        {% endif %}
    </div>
</div>
{% endblock %}

