{# assumes a ContactForm named 'form' and a OrganizationForm formset named 'new_affiliations' #}
<table class="layout">
    <tr class="layout">
        <td class="layout">
            <div class="subform">
                <h3>New Contact</h3>
                {% with form.name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.sort_name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.person as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.phone as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.email as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.address as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
                {% with form.notes as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </div>
        </td>
        <td class="layout">
            <div class="subform">
                <h3>New Contact Affiliations</h3>
                {% with form.affiliations as f %}
                {% include "unlabeled_field.html" %}
                {% endwith %}
                <div>
                    <span class="fieldname">add new organizations to be affiliated with:</span>
                    {{ new_affiliations.management_form }}
                    <div>
                        {% for aff_form in new_affiliations.forms %}
                        {{ aff_form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

