{% extends "contacts/contact_base.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% url jsi18n %}"></script>
{% endblock %}

{% block title %}{{ block.super }}: editing {{ contact }}{% endblock %}

{% block header %}
{{ block.super }}
[editing]
{% endblock %}

{% block contact_fields %}
<form action="" method="post">
{% csrf_token %}
{% include "contacts/change_contact_include.html" %}
<button type="submit">save changes to {{ contact }}</button>
</form>
{% endblock %}

