{% extends "merge_form/merge.html" %}
{% load merge_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block ids-dl %}
<dt><b>contact</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>contact</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block form_rows %}
{% display_merge_row destination source form 'name' %}
{% display_merge_row destination source form 'sort_name' %}
{% display_merge_yesnounk_row destination source form 'person' %}
{% display_merge_row destination source form 'phone' %}
{% display_merge_row destination source form 'email' %}
{% display_merge_row destination source form 'address' %}
{% display_merge_row destination source form 'notes' %}
{% endblock %}

