{% extends "detail.html" %}
{% load html_filter %}
{% load link_filter %}

{% block header %}
<h2>{{ d|html }}</h2>
{% endblock %}

{% block content %}
<table>
    {% block field_rows %}
    {% if d.attached_to %}
    <tr class="field">
        <th>attached to:</th>
        <td>{{ d.attached_to.specific_instance|link }}</td>
    </tr>
    {% endif %}
    {% if d.visible_to.exists %}
    <tr class="field permissions_warning">
        <th>visible to:</th>
        <td>
            This document is only visible to:
            <ul>
                {% for u in d.visible_to.all %}
                <li>
                    {% if u == user %}
                    <i>you</i>
                    {% else %}
                    {{ u }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    <tr class="field">
        <th>document type:</th>
        <td>
            {{ d.document_type|default:"<i>no type</i>" }}{% if d.document_type.description %}: {{ d.document_type.description }}{% endif %}
        </td>
    </tr>
    {% endblock %}
</table>
<div>
    {% if perms.documents.change_document %}
    <a href="{% url edit_document d.id %}">edit this document's info</a>
    {% endif %}
    {% if perms.documents.delete_document %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
	        $('.accordion .header').click(function() {
		        $(this).next().toggle('fast');
		        return false;
	        }).next().hide();
        });
    </script>
    <div class="accordion">
        <div class="header">
            <a href="#">delete this document...</a>
        </div>
        <form action="{% url delete_document d.id %}" method="post">
            {% csrf_token %}
            <span class="warning"><img src="{{ MEDIA_URL }}icons/warning.png"> are you sure? <img src="{{ MEDIA_URL }}icons/warning.png"></span>
            <button type="submit">yes</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

