{# assumes the document was passed in as a #}
<div class="document">
    <table>
        <tr>
            <td>
                {% if a.repo %}
                <img src="{{ MEDIA_URL }}icons/file_repo.png" title="this document is a file in a repository" alt="file in a repository">
                {% else %}
                {% if a.uploaded_file %}
                <img src="{{ MEDIA_URL }}icons/file_upload.png" title="this document is a file that was uploaded to the database" alt="uploaded file">
                {% else %}
                <img src="{{ MEDIA_URL }}icons/file_none.png" title="this document exists, somewhere...">
                {% endif %}
                {% endif %}
                {% if a.document_type %}<b>{{ a.document_type }}</b>{% endif %}
            </td>
        </tr>
        {% if a.name %}
        <tr>
            <td style="font-size:8pt;">
                <span class="filename">{{ a.name }}</span>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td style="text-align: center;">
                <a href="{{ a.get_absolute_url }}">details</a>
                {% if a.url and not a.is_dir %}<a href="{{ a.url }}">download</a>{% endif %}
            </td>
        </tr>
    </table>
</div>
