{# assumes the document was passed in as d #}
<div class="document">
    <table>
        <tr>
            <td>
                {% if d.repo %}
                <img src="{{ MEDIA_URL }}icons/file_repo.png" title="this document is a file in a repository" alt="file in a repository">
                {% else %}
                {% if d.uploaded_file %}
                <img src="{{ MEDIA_URL }}icons/file_upload.png" title="this document is a file that was uploaded to the database" alt="uploaded file">
                {% else %}
                <img src="{{ MEDIA_URL }}icons/file_none.png" title="this document exists, somewhere...">
                {% endif %}
                {% endif %}
                <b>{{ d.document_type|default:"<i>no type</i>" }}</b>
            </td>
        </tr>
        {% if d.name %}
        <tr>
            <td style="font-size:8pt;">
                <span class="filename">{{ d.name }}</span>
            </td>
        </tr>
        {% endif %}
        {% if d.visible_to.exists %}
        <tr>
            <td class="permissions_warning">
                This document is only visible to:
                <ul>
                    {% for u in d.visible_to.all %}
                    <li>
                        {% if u == user %}
                        <i>you</i>
                        {% else %}
                        {{ u }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <a href="{{ d.get_absolute_url }}">details</a>
                {% if d.url and not d.is_dir %}<a href="{{ d.url }}">download</a>{% endif %}
            </td>
        </tr>
    </table>
</div>

