{% extends "detail.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block header %}
<h2>{{ d }}</h2>
{% endblock %}

{% block content %}
<table>
    {% block field_rows %}
    {% if d.attached_to %}
    <tr class="field"><th>attached to:</th><td><a href="{{ d.attached_to.get_absolute_url }}">{{ d.attached_to }}</a></td>
    {% endif %}
    <tr class="field"><th>document type:</th><td>{{ d.document_type }}{% if d.document_type.description %}: {{ d.document_type.description }}{% endif %}</td></tr>
    {% endblock %}
</table>
<div>
    {% if perms.documents.change_document %}
    <a href="{% url edit_document d.id %}">edit this document's info</a>
    {% endif %}
    {% if perms.documents.delete_document %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
	        $('.accordion .header').click(function() {
		        $(this).next().toggle('fast');
		        return false;
	        }).next().hide();
        });
    </script>
    <div class="accordion">
        <div class="header">
            <a href="#">delete this document...</a>
        </div>
        <form action="{% url delete_document d.id %}" method="post">
            {% csrf_token %}
            <span class="warning"><img src="{{ MEDIA_URL }}icons/warning.png"> are you sure? <img src="{{ MEDIA_URL }}icons/warning.png"></span>
            <button type="submit">yes</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

