{% load merge_display %}

{% display_merge_yesnounk_row destination source form 'anchored' %}
{% display_merge_row destination source form 'gear_description' %}
{% display_merge_yesnounk_row destination source form 'gear_retrieved' %}
{% display_defined_merge_row destination source form 'gear_retriever' %}
{% display_defined_merge_row destination source form 'gear_given_date' %}
{% display_defined_merge_row destination source form 'gear_giver' %}
{% display_gear_body_location_merge_row destination source form %}
{% display_merge_row destination source form 'entanglement_details' %}
{% display_merge_yesnounk_row destination source form 'disentanglement_attempted' %}
{% display_defined_merge_row destination source form 'disentanglement_outcome' %}

