{% extends "incidents/change_observation.html" %}

{% block case_title %}{{ case|default:"new entanglement case" }}{% endblock %}

{% block case_ids %}
{% with case as c %}
{% include "entanglements/entanglement_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block case_header %}{{ case|default:"<i>new entanglement case</i>" }}{% endblock %}

{% block case_tab %}
<li{% if forms.case.non_field_errors or forms.case.nmfs_id.errors or forms.case.animal.errors or forms.case.happened_after.errors or forms.case.valid.errors or forms.case.ole_investigation.errors or forms.case.gear_fieldnumber.errors or forms.case.gear_retrived.errors or forms.case.gear_analyzed.errors or forms.case.analyzed_date.errors or forms.case.analyzed_by.errors or forms.case.gear_types.errors %} class="ui-state-error"{% endif %}>
    <a href="#case">
        <em>Case</em>
        <br>&nbsp;
    </a>
</li>
{% endblock %}

{% block case_tab_body %}
{{ block.super }}
{% with forms.case.gear_fieldnumber as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_retrieved as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_analyzed as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.analyzed_date as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.analyzed_by as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_types as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% endblock %}

{% block incident_tab %}
<li{% if forms.observation.non_field_errors or forms.observation.wounded.errors or forms.observation.wound_description.errors or forms.observation.anchored.errors or forms.observation.gear_description.errors or forms.observation.gear_retrieved.errors or forms.observation.entanglement_details.errors or forms.observation.disentanglement_outcome.errors %} class="ui-state-error"{% endif %}>
    <a href="#incident">
        <em>Observation</em>
        <br>Incident
    </a>
</li>
{% endblock %}

{% block incident_tab_body %}
{{ block.super }}
{% with forms.observation.anchored as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.gear_description as f %}
{% include "bigtext_field.html" %}
{% endwith %}
{% with forms.observation.gear_retrieved as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.observation.entanglement_details as f %}
{% include "bigtext_field.html" %}
{% endwith %}
{% with forms.observation.disentanglement_outcome as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% endblock %}

