{% extends "entanglements/entanglement_base.html" %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block title %}{{ block.super }} [editing gear owner info]{% endblock %}

{% block header %}
{{ block.super }}
[editing gear owner info]
{% endblock %}

{% block gear_owner_info %}
<form method="post">
    {% csrf_token %}
    <div>
        <table class="layout">
            <tr class="layout">
                <td class="layout" width="50%">
                    {% with forms.gear_owner.name as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                    {% with forms.gear_owner.person as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                    {% with forms.gear_owner.phone as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                    {% with forms.gear_owner.email as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                    {% with forms.gear_owner.address as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                    {% with forms.gear_owner.notes as f %}
                    {% include "labeled_field.html" %}
                    {% endwith %}
                </td>
                <td class="layout" width="50%">
                    <div class="subform">
                        {% with forms.gear_owner.datetime_set as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                    </div>
                    <div class="subform">
                        <script type="text/javascript">
                            $().ready(function(){
                                CheckboxHider.init(
                                    'gear_owner-location_set_known',
                                    'location_set_known'
                                );
                            });
                        </script>
                        {% with forms.gear_owner.location_set_known as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                        <div id="location_set_known">
                            {% with forms.location_set as l_form %}
                            {% include "locations/edit_location_include.html" %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="subform">
                        {% with forms.gear_owner.datetime_missing as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                    </div>
                    {% with forms.gear_owner.missing_gear as f %}
                    {% include "bigtext_field.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr class="layout">
                <td class="layout" style="text-align: center;" colspan="2">
                    <button type="submit">{% block submit_button %}save gear owner info for {{ case }}{% endblock %}</button>
                </td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}
