{% extends "entanglements/entanglement_base.html" %}

{% block head %}
{{ block.super }}
{{ all_media }}
{% endblock %}

{% block title %}{{ block.super }} [editing gear owner info]{% endblock %}

{% block header %}
{{ block.super }}
[editing gear owner info]
{% endblock %}

{% block gear_owner_info %}
<form method="post">
    <div>
        <div class="subform">
            <script type="text/javascript">
                $().ready(function(){
                    RadioHider.init('gear_owner-contact_choice', {
                        'new': 'gear_owner_new',
                        'other': 'gear_owner_existing'
                    });
                });
            </script>
            {{ forms.gear_owner.contact_choice }}
            <div id="gear_owner_new">
                {% with forms.new_contact as form %}
                {% with forms.new_affiliations as new_affiliations %}
                {% include "contacts/create_contact_include.html" %}
                {% endwith %}
                {% endwith %}
            </div>
            <div id="gear_owner_existing">
                {{ forms.gear_owner.owner_contact }}
            </div>
        </div>
        <table class="layout">
            <tr class="layout">
                <td class="layout" width="50%">
                    <div class="subform">
                        <script type="text/javascript">
                            $().ready(function(){
                                CheckboxHider.init(
                                    'gear_owner-date_set_known',
                                    'date_set_known'
                                );
                            });
                        </script>
                        {% with forms.gear_owner.date_set_known as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                        <div id="date_set_known">
                            {% with forms.datetime_set as d_form %}
                            {% include "datetime/edit_datetime_include.html" %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="subform">
                        <script type="text/javascript">
                            $().ready(function(){
                                CheckboxHider.init(
                                    'gear_owner-location_set_known',
                                    'location_set_known'
                                );
                            });
                        </script>
                        {% with forms.gear_owner.location_set_known as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                        <div id="location_set_known">
                            {% with forms.location_set as l_form %}
                            {% include "locations/edit_location_include.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </td>
                <td class="layout" width="50%">
                    <div class="subform">
                        <script type="text/javascript">
                            $().ready(function(){
                                CheckboxHider.init(
                                    'gear_owner-date_lost_known',
                                    'date_lost_known'
                                );
                            });
                        </script>
                        {% with forms.gear_owner.date_lost_known as f %}
                        {% include "labeled_field.html" %}
                        {% endwith %}
                        <div id="date_lost_known">
                            {% with forms.datetime_lost as d_form %}
                            {% include "datetime/edit_datetime_include.html" %}
                            {% endwith %}
                        </div>
                    </div>
                    {% with forms.gear_owner.missing_gear as f %}
                    {% include "bigtext_field.html" %}
                    {% endwith %}
                </td>
            </tr>
        </table>
        <button type="submit">{% block submit_button %}save gear owner info for {{ case }}{% endblock %}</button>
    </div>
</form>
{% endblock %}
