{% extends "incidents/edit_case.html" %}

{% block case_ids %}
{% with case as c %}
{% include "entanglements/entanglement_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block case_tab %}
<li{% if forms.case.non_field_errors or forms.case.nmfs_id.errors or forms.case.animal.errors or forms.case.happened_after.errors or forms.case.valid.errors or forms.case.ole_investigation.errors or forms.case.gear_fieldnumber.errors or forms.case.gear_retrived.errors or forms.case.gear_analyzed.errors or forms.case.analyzed_date.errors or forms.case.analyzed_by.errors or forms.case.gear_types.errors %} class="ui-state-error"{% endif %}>
    <a href="#case">
        <em>Case</em>
        <br>&nbsp;
    </a>
</li>
{% endblock %}

{% block case_tab_body %}
{{ block.super }}
{% with forms.case.gear_fieldnumber as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_retrieved as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_analyzed as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.analyzed_date as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.analyzed_by as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with forms.case.gear_types as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% endblock %}

