{% extends "base.html" %}

{% block title %}{{ block.super }}: {{ case }} [editing gear analysis]{% endblock %}

{% block body %}
{% if success %}
<div class="note">
    Changes saved!
</div>
{% endif %}
<div class="warning">
    Note that if you close this window without saving, any changes you have made will be lost.
</div>
<form action="" method="post">
    <div style="text-align: center;">
        <button type="submit">save changes to gear analysis info for {{ case }}</button>
    </div>
    {% include "entanglements/edit_gear_analysis_include.html" %}
    <div style="text-align: center;">
        <button type="submit">save changes to gear analysis info for {{ case }}</button>
    </div>
</form>
{% endblock %}
