{% if case.observation_set.count > 1 %}
<div class="edit-warning">
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
    Note that this is case data for {{ case.observation_set.count }} observation{{ case.observation_set.count|pluralize }}.
    <img
        src="{% url site-media path="icons/warning.png"%}"
    >
</div>
{{ case_form.non_field_errors }}
{% endif %}
{% with case_form.gear_fieldnumber as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.gear_retrieved as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.gear_analyzed as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.analyzed_date as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.analyzed_by as f %}
{% include "labeled_field.html" %}
{% endwith %}
{% with case_form.gear_types as f %}
{% include "labeled_field.html" %}
{% endwith %}

