{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block title %}{{ block.super }}: New Entanglement Report{% endblock %}

{% block header %}<h1>New Entanglement Report</h1>{% endblock %}

{% block content %}
<form method="POST"><table class="layout">
    <!---
    <tr><td colspan="2" style="width:100%;">
        {% for formname, form in forms.items %}
        <dl>
            <dd>{{ formname }}</dd>
            <dt>
            {{ form.errors }}
            </dt>
        </dl>
        {% endfor %}
    </td></tr>
    -->
    <tr><td style="width:50%; vertical-align:top;">
    <div class="section">
        <h3>report date and time</h3>
        {% with forms.report_datetime as d_form %}
        {% include "datetime/edit_datetime_include.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>location</h3>
        {% with forms.location.coordinates_lat_input as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.location.coordinates_lng_input as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.location.description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>observation date and time</h3>
        {% with forms.observation_datetime as d_form %}
        {% include "datetime/edit_datetime_include.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>reporter</h3>
        <script type="text/javascript">
            $().ready(function(){
                RadioHider.init('observation-new_reporter', {
                {# TODO get the values from forms.observation.new_reporter.field #}
                    'new': 'reporter_new_contact',
                    'other': 'reporter_existing_contact'
                });
            });
        </script>
        {% with forms.observation.new_reporter as f %}
        {% include "unlabeled_field.html" %}
        {% endwith %}
        <div id="reporter_new_contact" style="display:none;">
            {% with forms.new_reporter.name as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_reporter.phone as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
            {% with forms.new_reporter.email as f %}
            {% include "labeled_field.html" %}
            {% endwith %}
        </div>
        <div id="reporter_existing_contact" style="display:none;">
            {% with forms.observation.reporter as f %}
            {% include "unlabeled_field.html" %}
            {% endwith %}
        </div>
    </div>
    {% with forms.observation.documentation as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.observation.biopsy as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.observation.tagged as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    {% with forms.case.ole_investigation as f %}
    {% include "labeled_field.html" %}
    {% endwith %}
    </td><td style="width:50%; vertical-align:top;">
    <div class="section">
        <h3>Animal</h3>
        {% with forms.animal.name as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.observation.taxon as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.observation.animal_description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
        {% with forms.observation.anchored as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
        {% with forms.observation.wound_description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    <div class="section">
        <h3>Entangling Gear</h3>
        {% with forms.observation.gear_description as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
        {% with forms.observation.entanglement_details as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
        {% with forms.case.gear_types as f %}
        {% include "labeled_field.html" %}
        {% endwith %}
    </div>
    <div class="section">
        {% with forms.observation.narrative as f %}
        {% include "bigtext_field.html" %}
        {% endwith %}
    </div>
    </td></tr>
    <tr><td colspan="2">
    <button style="width:100%;">Add a new Case, Animal, and initial Observation to the database</button>
    </td></tr>
</table></form>
{% endblock %}

