{% extends "incidents/observation_detail.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block case_type_fields %}
<h3>Entanglement</h3>
<table>
    <tr><th>anchored?</th><td><i>{{ observation.anchored|yesno:"yes,no,unknown" }}</i></td></tr>
    <tr>
        <th>gear</th>
        <td>
            <p>
                {{ observation.gear_description|default:"<i>undescribed</i>" }}
            </p>
            <p><i>{{ observation.gear_retrieved|yesno:"gear retrieved,gear not retrieved," }}</i></p>
         </td>
     </tr>
     <tr>
        <th>entanglement description</th>
        <td>{{ observation.entanglement_details|default:"<i>none</i>" }}</td>
     </tr>
</table>
{% endblock %}
