{% extends "entanglements/entanglement_base.html" %}

{# TODO is this needed ? will the case-edit view delegate accordingly? #}
{% block edit_case_link %}
{# note that URL fragments (the bit after the '#') are the user-agents responsibility, not the servers. #}
<a href="{% url edit_entanglement case.id %}#case">edit this entanglement</a>
{% endblock %}

{# TODO is this needed ? will the add-observation view delegate accordingly? #}
{% block add_observation_link %}
{# note that URL fragments (the bit after the '#') are the user-agents responsibility, not the servers. #}
<a href="{% url add_entanglementobservation case.id %}#reporting">add an observation</a>
{% endblock %}

