{# assumes an EntanglementObservation was passed in as eo #}
{% load generic_field_display %}
{% load contact_extras %}

<div class="section">
    <h3>Entanglement</h3>
    <table>
        {% display_yesnounk_row eo "anchored" %}
        <tr class="field">
            <th>gear</th>
            <td>
                <p>
                    {{ eo.gear_description|default:"<i>undescribed</i>" }}
                </p>
                <p><i>{{ eo.gear_retrieved|yesno:"gear retrieved,gear not retrieved," }}</i></p>
                {% if eo.gear_retrieved and eo.gear_retriever %}
                <p>
                    <i>gear retrived by:<i> {% contact_link eo.gear_retriever %}
                </p>
                {% endif %}
                {% if eo.gear_given_date %}
                <p>
                    <i>gear given over for analysis on:<i> {{ eo.gear_given_date }}
                </p>
                {% endif %}
                {% if eo.gear_giver %}
                <p>
                    <i>given over by:<i> {% contact_link eo.gear_giver %}
                </p>
                {% endif %}
             </td>
         </tr>
         <tr class="field">
            <th>gear locations on body</th>
            <td>
                <table>
                    {% for loc, gear_loc in gear_body_locations %}
                    <tr class="field">
                        {# TODO this is abuse of the title attribute #}
                        <th title="{{ loc.definition }}">{{ loc.name }}</th>
                        <td>
                            <i>
                            {% if gear_loc %}
                            {{ gear_loc.gear_seen_here|yesno }}
                            {% else %}
                            unknown
                            {% endif %}
                            </i>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
         </tr>
         {% display_bigtext_row eo "entanglement_details" %}
         {% display_yesnounk_row eo "disentanglement_attempted" %}
         {% if eo.disentanglement_outcome %}
         {% display_chosen_row eo "disentanglement_outcome" %}
         {% endif %}
    </table>
</div>

