{% extends "incidents/case_merge.html" %}
{% load merge_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block additional_form_rows %}
{% display_merge_row destination source form 'nmfs_id' %}
{% display_merge_row destination source form 'gear_fieldnumber' %}
{% display_merge_yesnounk_row destination source form 'gear_analyzed' %}
{% display_merge_row destination source form 'analyzed_date' %}
{% display_merge_row destination source form 'analyzed_by' %}
{% display_merge_row destination source form 'num_gear_types' %}
{% display_merge_geartypes_row destination source form 'gear_types' %}
{% display_merge_list_row destination source form 'gear_targets' %}
{% display_merge_row destination source form 'gear_description' %}
{% display_merge_yesnounk_row destination source form 'gear_compliant' %}
{% display_merge_row destination source form 'gear_analysis_comments' %}
{% display_merge_row destination source form 'gear_analysis_conclusions' %}
{% display_o2o_merge_row destination source form 'gear_owner_info' 'has_gear_owner_info' %}
{% display_merge_yesnounk_row destination source form 'gear_kept' %}
{% display_merge_row destination source form 'gear_kept_where' %}
{% endblock %}

