{% extends "incidents/case_base.html" %}
{% load contact_extras %}
{% load generic_field_display %}

{% block case_ids %}
{% with case as c %}
{% include "entanglements/entanglement_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block case_fields %}
{{ block.super }}
{% display_div case "nmfs_id" %}
<div>
    <span class="fieldname">was gear recovered?</span> {{ case.gear_recovered|yesno:"yes,no,unknown" }}
</div>
<div>
    <span class="fieldname">was gear analyzed?</span>
    {{ case.gear_analyzed|yesno:"yes,no,unknown" }}{% if case.analyzed_datetime or case.analyzed_by %},{% endif %}
    {% if case.gear_analyzed %}
    {% if case.analyzed_datetime %}
        on {{ case.analyzed_datetime }}
    {% endif %}
    {% if case.analyzed_by %}
        by {% contact_link case.analyzed_by %}
    {% endif %}
    {% endif %}
</div>
{% if case.gear_types.count %}
<div>
    <span class="fieldname">gear types:</span>
    <ul>
        {% for geartype in case.gear_types.all %}
        <li>{{ geartype }}</li>
        {% endfor %}
    </ul>
    {% if case.implied_gear_types %}
    <i>implied gear types:</i>
    <ul>
        {% for geartype in case.implied_gear_types %}
        <li>{{ geartype }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block extra_case_fields %}
<div class="section">
    <h3>gear owner info</h3>
    {% if perms.entanglements.view_gear_owner %}
    {% block gear_owner_info %}
    {% if case.gear_owner_info %}
    <div class="confidential-box">
        <div class="confidential-warning">confidential!</div>
        {% with case.gear_owner_info as go %}
        <table class="layout" style="width: 100%;">
            <tr class="layout" style="width: 100%;">
                <td class="layout" style="width: 50%;">
                    <table>
                        {% display_row go "name" %}
                        {% display_yesnounk_row go "person" "person or org?" "person,organization,unknown" %}
                        {% if go.phone %}
                        {% display_row go "phone" %}
                        {% endif %}
                        {% if go.email %}
                        {% display_row go "email" %}
                        {% endif %}
                        {% if go.address %}
                        {% display_bigtext_row go "address" %}
                        {% endif %}
                        {% if go.notes %}
                        {% display_bigtext_row go "notes" %}
                        {% endif %}
                    </table>
                </td>
                <td class="layout" style="width: 50%;">
                    {% if go.location_gear_set %}
                    <div class="subsection">
                        <span class="fieldname">location gear was set</span>
                        {% with go.location_gear_set as l %}
                        {% include "locations/location_details_include.html" %}
                        {% endwith %}
                    </div>
                    {% endif %}
                    <table>
                        {% display_row go "datetime_set" %}
                        {% display_row go "datetime_missing" %}
                        {% display_bigtext_row go "missing_gear" %}
                    </table>
                </td>
            </tr>
        </table>
        {% endwith %}
    </div>
    {% if perms.entanglements.change_gear_owner %}
    <div>
        <a href="{% url edit_gear_owner case.id %}">edit gear owner info</a>
    </div>
    {% endif %}
    {% else %}
    <i>none</i>
    {% if perms.entanglements.add_gear_owner %}
    <div>
        <a href="{% url add_gear_owner case.id %}">add gear owner info</a>
    </div>
    {% endif %}
    {% endif %}
    {% endblock %}
    {% else %}
    <i>you don't have permission to view gear owner info</i>
    {% endif %}
</div>
{% endblock %}

{% block add_observation_link %}
        {# note that URL fragments (the bit after the '#') are the user-agents responsibility, not the servers. #}
        <a href="{% url add_entanglementobservation case.id %}#reporting">add an observation</a>
{% endblock %}

