{% extends "entanglements/entanglement_base.html" %}

{# TODO is this needed ? will the case-edit view delegate accordingly? #}
{% block edit_case_link %}
{% if perms.entanglements.change_entanglement %}
<a href="{% url edit_entanglement case.id %}">edit this entanglement</a>
{% endif %}
{% endblock %}

{# TODO is this needed ? will the add-observation view delegate accordingly? #}
{% block add_observation_link %}
{% if perms.entanglements.change_entanglement and perms.entanglements.add_entanglementobservation %}
<a href="{% url add_entanglementobservation case.id %}">add an observation</a>
{% endif %}
{% endblock %}

