{% extends "incidents/case_base.html" %}
{% load contact_extras %}
{% load generic_field_display %}

{% block case_ids %}
{% with case as c %}
{% include "entanglements/entanglement_ids_include.html" %}
{% endwith %}
{% endblock %}

{% block merge_link %}
{# TODO this is more than just a merge_link #}

{% if perms.entanglements.view_gearowner %}
{% if perms.entanglements.add_gearowner %}
{% if perms.entanglements.change_gearowner %}
<script type="text/javascript">
    $(function() {
        // based on the example at
        // http://blog.nemikor.com/2009/04/08/basic-usage-of-the-jquery-ui-dialog/
        var gear_analysis_dialog = $('#edit_gear_analysis_dialog').dialog({
            autoOpen: false,
            width: 775,
            title: 'Gear Analysis',
            buttons: {
                "save changes": function() {$("#edit_gear_analysis_dialog form").submit();},
                "cancel": function() {$(this).dialog("close");}
            }
		});
		{% if gear_analysis_forms.entanglement.is_bound %}
		gear_analysis_dialog.dialog('open');
		{% endif %}
	    $("#open_gear_analysis_dialog").click(function(e){
	        gear_analysis_dialog.dialog('open');
	        return false; // prevent default behaviour
	    });
    });
</script>
<div>
    <a href="" id="open_gear_analysis_dialog">edit gear analysis for this entanglement case</a> (will open in this window)
</div>
<div style="display:none; font-size:.75em;" id="edit_gear_analysis_dialog">
    <form method="post" action="">
    {% with gear_analysis_forms as forms %}
    {% include "entanglements/edit_gear_analysis_include.html" %}
    {% endwith %}
    <!-- note thate the submit button is placed in the jQueryUI script above -->
    </form>
</div>

<script type="text/javascript">
    // based on info at
    // http://www.quirksmode.org/js/popup.html
    $(function() {
        $("#open_gear_analysis_popup").click(function(e){
            {# TODO javascript string escaping? #}
            var url = '{% url edit_gear_analysis_popup case.id %}';
            var newwindow = window.open(
                url,
                // IE is picky about what this string contains
                "gear_analysis_window_for_{{ case.id }}",
                'height=700,width=775,resizable=yes,scrollbars=yes'
            );
            if (window.focus) {
                newwindow.focus();
            }
            return false;
        });
    });
</script>
<div>
    <a href="{% url edit_gear_analysis_popup case.id %}" id="open_gear_analysis_popup">edit gear analysis for this entanglement case</a> (will open in a new window)
</div>
{% endif %}
{% endif %}
{% endif %}

{% if perms.incidents.change_case and perms.incidents.delete_case %}
{% if perms.entanglements.change_entanglement and perms.entanglements.delete_entanglement %}
<script type="text/javascript">
    jQuery(document).ready(function(){
	    $('.accordion .header').click(function() {
		    $(this).next().toggle('fast');
		    return false;
	    }).next().hide();
    });
</script>
<div class="accordion">
    <div class="header">
        <a href="#">merge another case into this one...</a>
    </div>
    <form action="{% url entanglement_merge case.id %}" method="GET">
        <div style="margin-left:2em;">
            {% if case.animal.case_set.count > 1 %}
            {{ merge_form.as_p }}
            <button type="submit">view merge</button>
            {% else %}
            There are no other cases for this animal.
            {% endif %}
        </div>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock merge_link %}

{% block case_fields %}
{{ block.super }}
{% display_div case "nmfs_id" %}
<div>
    <span class="fieldname">was gear recovered?</span> <i>{{ case.gear_recovered|yesno:"yes,no,unknown" }}</i>
</div>
{% display_yesnounk_div case "gear_analyzed" %}
{% if case.analyzed_date %}
{% display_div case "analyzed_date" %}
{% endif %}
{% if case.analyzed_by %}
<div>
    <span class="fieldname">analyzed by</span>: {% contact_link case.analyzed_by %}
</div>
{% endif %}
{% display_geartypes_div case "gear_types" case.implied_gear_types %}
{% if case.gear_analyzed %}
{% display_bigtext_div case "gear_description" %}
{% display_bigtext_div case "gear_analysis_comments" %}
{% display_bigtext_div case "gear_analysis_conclusions" %}
{% endif %}
{% endblock %}

{% block extra_case_fields %}
<div class="section">
    <h3>gear owner info</h3>
    {% if perms.entanglements.view_gearowner %}
    {% if case.gear_owner_info %}
    <div class="confidential-box">
        <div class="confidential-warning">confidential!</div>
        {% with case.gear_owner_info as go %}
        <table class="layout" style="width: 100%;">
            <tr class="layout" style="width: 100%;">
                <td class="layout" style="width: 50%;">
                    <table>
                        {% display_row go "name" %}
                        {% display_yesnounk_row go "person" "person or org?" "person,organization,unknown" %}
                        {% if go.phone %}
                        {% display_row go "phone" %}
                        {% endif %}
                        {% if go.email %}
                        {% display_row go "email" %}
                        {% endif %}
                        {% if go.address %}
                        {% display_bigtext_row go "address" %}
                        {% endif %}
                        {% if go.notes %}
                        {% display_bigtext_row go "notes" %}
                        {% endif %}
                    </table>
                </td>
                <td class="layout" style="width: 50%;">
                    {% if go.location_gear_set %}
                    <div class="subsection">
                        <span class="fieldname">location gear was set</span>
                        {% with go.location_gear_set as l %}
                        {% include "entanglements/location_gear_set_details_include.html" %}
                        {% endwith %}
                    </div>
                    {% endif %}
                    <table>
                        {% display_row go "datetime_set" %}
                        {% display_row go "datetime_missing" %}
                    </table>
                </td>
            </tr>
        </table>
        {% endwith %}
    </div>
    {% else %}
    <i>none</i>
    {% endif %}
    {% else %}
    <i>you don't have permission to view gear owner info</i>
    {% endif %}
</div>
{% endblock %}

{% block add_observation_link %}
        <a href="{% url add_entanglementobservation case.id %}">add an observation</a>
{% endblock %}

