{% extends "page.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
$().ready(function(){
    $('#search_form').submit(function(event){
        $("#results").hide();
        $("#waiting").show();
        // TODO error handling!
        $.get(
            '{% url itis %}',
            {srchKey: $('[name=q]').val()},
            function(data, textStatus) {
                $('#results_list').html(data);
                $("#waiting").hide();
                $('#results').show();
            }
        );
        return false;
    });
});
</script>
{% endblock %}

{% block header %}<h2>import a taxon from <a href="http://www.itis.gov"><abbr title="Integrated Taxonomic Information System">ITIS</abbr></a></h2>{% endblock %}

{% block content %}
<p>
Search for an animal taxon to import (along with it's supertaxa). Note that taxa above the rank of Order are ignored.
</p>
<form id="search_form">
    <p>
        <label for="q">search scientific names, or common names, or <abbr title="Integrated Taxonomic Information System">ITIS</abbr> <abbr title="Taxonomic Serial Number">TSN</abbr></label><input name="q" type="search">
        <button type="submit">search</button>
        <span id="waiting" style="display:none;">
            <img src="{% url site-media "Loader3.gif" %}"> searching ...
        </span>
    </p>
</form>

<div id="results" style="display:none;">
    <h3>results</h3>
    <p id="results_list">
    </p>
</div>

{% endblock %}
