{% extends "base.html" %}

{% block header %}<h2>import a species from ITIS</h2>{% endblock %}

{% block content %}
This will import a species and all it's super- (and sub-) taxa into the
database. Note that taxa above the rank of Order are ignored.

<form id="search_form">
    <p>
        <label for="q">search species scientific or common names, or ITIS numbers</label><input name="q" type="search">
        <button type="submit">search</button>
        <span id="waiting" style="display:none;">
            <img src="{% url site-media "Loader3.gif" %}"> searching ...
        </span>
    </p>
</form>

<div id="results" style="display:none;">
    <h3>results</h3>
    <p id="results_list">
    </p>
</div>

{% endblock %}
