{% extends "base.html" %}
{% load generic_field_display %}

{% comment %}
This template is an amalgam of editing and viewing.
{% endcomment %}

{% block title %}{{ block.super }}: {{ destination }} [merging with {{ source }}] {% endblock %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block ids-dl %}
<dt><b>taxon</b> names</dt><dd>merging {{ source.name|default:"<i>no name</i>" }} into {{ destination.name|default:"<i>no name</i>" }}</dd>
<dt><b>taxon</b> local IDs</dt><dd>merging {{ source.id }} into {{ destination.id }}</dd>
{% endblock %}

{% block header %}
<h2>{{ destination }} [merging with {{ source }}]</h2>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="section bordered">
        <tr>
            <td>{{ destination.id }}</td>
            <td></td>
            <td>{{ source.id }}</td>
    	</tr>
        <tr>
            {% display_cell destination 'tsn' %}
            <td>
                {% with form.tsn as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'tsn' %}
    	</tr>
        <tr>
            {% display_cell destination 'supertaxon' %}
            <td>
                {% with form.supertaxon as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'supertaxon' %}
    	</tr>
        <tr>
            {% display_cell destination 'name' %}
            <td>
                {% with form.name as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'name' %}
    	</tr>
        <tr>
            {% display_chosen_cell destination 'rank' %}
            <td>
                {% with form.rank as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_chosen_cell source 'rank' %}
    	</tr>
        <tr>
            {% display_cell destination 'common_names' %}
            <td>
                {% with form.common_names as f %}
                {% include "labeled_field.html" %}
                {% endwith %}
            </td>
            {% display_cell source 'common_names' %}
    	</tr>
    	<tr>
    	    <td>
    	        {% if form.destination_fk_refs %}
    	        This taxon is referenced by:
    	        <ul>
    	            {% for other_model, other_field, other_instance in destination_fk_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	        {% if form.destination_m2m_refs %}
    	        This taxon is among the references in:
    	        <ul>
    	            {% for other_model, other_field, other_instance in destination_m2m_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	    </td>
    	    <td>the merged taxon will have all the references of these two taxa</td>
    	    <td>
    	        {% if form.source_fk_refs %}
    	        This taxon is referenced by:
    	        <ul>
    	            {% for other_model, other_field, other_instance in source_fk_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	        {% if form.source_m2m_refs %}
    	        This taxon is among the references in:
    	        <ul>
    	            {% for other_model, other_field, other_instance in source_m2m_refs %}
    	            <li><b>{{ other_model }}</b> <a href="{{ other_instance.get_absolute_url }}">{{ other_instance }}</a>: {{ other_field }}</li>
    	            {% endfor %}
    	        </ul>
    	        {% endif %}
    	    </td>
    	</tr>
        <tr>
            <td colspan="3" style="text-align: center;">
        	    <button type="submit">merge {{ source }} into {{ destination }}</button>
            </td>
    	</tr>
    </table>
</form>
{% endblock %}

