{% extends "page.html" %}
{% load generic_field_display %}
{% load link_filter %}
{% load animal_extras %}
{% load html_filter %}

{% block title %}{{ block.super }}: {{ taxon }}{% endblock %}

{% block header %}
{% if taxon.supertaxon %}
<h3>{{ taxon.supertaxon|link }}</h3>
{% endif %}
<h2 style="margin-left:2em;">{{ taxon|html }}</h2>
{% for subtaxon in taxon.subtaxa.all %}
<h3 style="margin-left:4em;">{{ subtaxon|link }}</h3>
{% endfor %}
{% if perms.taxons.change_taxon and perms.taxons.delete_taxon %}
<script type="text/javascript">
    jQuery(document).ready(function(){
	    $('.accordion .header').click(function() {
		    $(this).next().toggle('fast');
		    return false;
	    }).next().hide();
    });
</script>
<div class="accordion">
    <div class="header">
        <a href="#">merge another taxon into this one...</a>
    </div>
    <form action="{% url merge_taxon taxon.id %}" method="GET">
        <div style="margin-left:2em;">
            {{ merge_form.as_p }}
            <button type="submit">view merge</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block content %}
<table>
    {% display_row taxon "tsn" %}
    {% display_row taxon "name" %}
    {% display_chosen_row taxon "rank" %}
    <tr class="field"><th>common names</th><td>{{ taxon.common_names_list|join:"<br>"|default:"<i>none</i>" }}</td></tr>
</table>

{% if taxon.animal_set.count %}
<div>
    <h3>Animals only determined to be {{ taxon|html }}</h3>
    <table>
        {% for a in taxon.animal_set.all %}
        <tr><td>{% animal_link a %}</td></tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<div>
    <h3>Animals determined to be subtaxa of {{ taxon|html }}</h3>
    <table>
        {% for subtaxon in taxon.descendants %}
        {% if subtaxon.animal_set.count %}
        {% for a in subtaxon.animal_set.all %}
        <tr>
            <th style="text-align: right;">
                {{ subtaxon|link }}
            </th>
            <td>{% animal_link a %}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
</div>

{% if taxon.observation_set.count %}
<div>
    <h3>Observations of {{ taxon|html }}</h3>
    <table>
        {% for o in taxon.observation_set.all %}
        <tr><td>{{ o|link }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if taxon.targeted_by.count %}
<div>
    <h3>Entanglements in gear targeting {{ taxon|html }}</h3>
    {% with taxon.targeted_by.all as cases %}
    {% include "incidents/case_list_include.html" %}
    {% endwith %}
</div>
{% endif %}

{% endblock %}

