{# intended to be included in another template, with the Location as l #}
{% load location_extras %}

{% if l.coordinates or l.description %}
<table class="layout">
    <tr class="layout">
        {% if l.coordinates %}
        <td class="layout">
            <div>
            <img src="http://maps.google.com/maps/api/staticmap?center={{ l.coordinates }}&zoom=6&size=200x150&maptype=terrain&markers=size:small|color:yellow|{{ l.coordinates }}&sensor=false">
            </div>
            <table id="coords_dec">
                {% display_coord_dec_row l "lat" %}
                {% display_coord_dec_row l "lng" %}
            </table>
            <table id="coords_dms">
                {% display_coord_dms_row l "lat" %}
                {% display_coord_dms_row l "lng" %}
            </table>
            <form>
                <input type="radio" name="coords_format" checked="checked" value="dec">decimal
                <input type="radio" name="coords_format" value="dms">deg. min. sec.
            </form>
            <script type="text/javascript">
                RadioHider.init('coords_format', {
                    'dec': 'coords_dec',
                    'dms': 'coords_dms'
                });
            </script>
        </td>
        {% endif %}
        {% if l.description %}
        <td class="layout" style="vertical-align: middle;">
            <p style="margin: .25em;">
                {{ l.description|linebreaksbr }}
            </p>
        </td>
        {% endif %}
    </tr>
</table>
{% else %}
<i>no info</i>
{% endif %}
