{# intended to be included in another template, with the Location as l #}
{% load location_extras %}

{% if l.coordinates or l.description or l.country or l.state or l.waters%}
<table class="layout">
    <tr class="layout">
        {% if l.coordinates %}
        <td class="layout" rowspan="2">
            <div>
            <img src="http://maps.google.com/maps/api/staticmap?center={{ l.coordinates }}&zoom=6&size=200x150&maptype=terrain&markers=size:small|color:yellow|{{ l.coordinates }}&sensor=false">
            </div>
            <table id="coords_dec">
                {% display_coord_dec_row l "lat" %}
                {% display_coord_dec_row l "lng" %}
            </table>
            <table id="coords_dms">
                {% display_coord_dms_row l "lat" %}
                {% display_coord_dms_row l "lng" %}
            </table>
            <form>
                <input type="radio" name="coords_format" checked="checked" value="dec">decimal
                <input type="radio" name="coords_format" value="dms">deg. min. sec.
            </form>
            <script type="text/javascript">
                RadioHider.init('coords_format', {
                    'dec': 'coords_dec',
                    'dms': 'coords_dms'
                });
            </script>
        </td>
        {% endif %}
        <td class="layout" style="vertical-align: middle;">
            {% if l.waters or l.country or l.state %}
            <div style="text-align: center; font-style: italic;">
                {% if not l.waters %}
                {% if l.state %}
                in or nearest to {{ l.get_state_display }}{% if l.country and l.country.iso != 'US' %}, {{ l.country }}{% endif %}
                {% else %}
                in or nearest to {{ l.country }}
                {% endif %}
                {% endif %}

                {% if l.waters = 1 %}
                on land
                {% if l.country.iso = 'US' and l.state %}
                in {{ l.get_state_display }}
                {% else %}
                in {{ l.country }}
                {% endif %}
                {% endif %}

                {% if l.waters = 2 %}
                in state waters
                {% if l.state %}
                of {{ l.get_state_display }}
                {% else %}
                in {{ l.country }}{% if l.country.iso != 'US' %}(?!){% endif %}
                {% endif %}
                {% endif %}

                {% if l.waters = 3 %}
                {% if l.country == 'US' %}
                in federal waters{% if l.state %} nearest {{ l.get_state_display }}{% endif %}
                {% else %}{# l.country != 'US' #}
                in territorial waters{% if l.country %} of {{ l.country }}{% endif %}
                {% endif %}
                {% endif %}

                {% if l.waters = 4 %}
                {% if l.country == 'US' %}
                in U.S. EEZ{% if l.state %} nearest {{ l.get_state_display }}{% endif %}
                {% else %}{# l.country != 'US' #}
                in {% if l.country %}the{% else %}an{% endif %} EEZ{% if l.country %} of {{ l.country }}{% endif %}
                {% endif %}
                {% endif %}

                {% if l.waters = 5 %}
                in international waters
                {% endif %}
            </div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="layout" style="vertical-align: middle;">
            {% if l.description %}
            <p style="margin: .25em;">
                {{ l.description|linebreaksbr }}
            </p>
            {% endif %}
        </td>
    </tr>
</table>
{% else %}
<i>no info</i>
{% endif %}
