/* taken from django/contrib/admin/media/widgets.css */

/* SELECTOR (FILTER INTERFACE) */

.selector {
    width: 580px;
    float: left;
}

.selector select {
    width: 270px;
    height: 17.2em;
}

.selector-available, .selector-chosen {
    float: left;
    width: 270px;
    text-align: center;
    margin-bottom: 5px;
}

.selector-available h2, .selector-chosen h2 {
    border: 1px solid #ccc;
    margin: 0;
    font-size: 110%;
}

.selector .selector-available h2 {
    background: white url(icons/nav-bg.png) bottom left repeat-x;
    color: #666;
}

.selector .selector-filter {
    background: white;
    border: 1px solid #ccc;
    border-width: 0 1px;
    padding: 3px;
    color: #999;
    font-size: 10px;
    margin: 0;
    text-align: left;
}

/* remove images that are given relative to the admin_media url and replace
them with ones that are */
/* TODO why aren't these specified in CSS, like the others? */
/* TODO this uses the admin_media prefix */
img[src="/site_media/admin/img/admin/selector-search.gif"] {
    width: 0;
    hieght: 0;
    padding-left: 16px; /* the width of the replacement image */
    padding-top: 16px; /* the height of the replacement image */
    background: url(icons/selector-search.png) center no-repeat;
}
img[src="/site_media/admin/img/admin/selector-add.gif"] {
    width: 0;
    hieght: 0;
    padding-left: 16px; /* the width of the replacement image */
    padding-top: 16px; /* the height of the replacement image */
    background: url(icons/selector-add.png) center no-repeat;
}

.selector .selector-chosen .selector-filter {
    padding: 4px 5px;
}

.selector .selector-available input {
    width: 230px;
}

.selector ul.selector-chooser {
    float: left;
    width: 22px;
    height: 50px;
    background: url(icons/chooser-bg.png) top center no-repeat;
    margin: 8em 3px 0 3px;
    padding: 0;
}

.selector-chooser li {
    margin: 0;
    padding: 3px;
    list-style-type: none;
}

.selector select {
    margin-bottom: 5px;
    margin-top: 0;
}

.selector-add, .selector-remove {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -3000px;
}

.selector-add {
    background: url(icons/selector-add.png) top center no-repeat;
    margin-bottom: 2px;
}

.selector-remove {
    background: url(icons/selector-remove.png) top center no-repeat;
}

a.selector-chooseall, a.selector-clearall {
    display: block;
    width: 6em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: #666;
    padding: 3px 0 3px 18px;
}

a.selector-chooseall:hover, a.selector-clearall:hover {
    color: #036;
}

a.selector-chooseall {
    width: 7em;
    background: url(icons/selector-addall.png) left center no-repeat;
}

a.selector-clearall {
    background: url(icons/selector-removeall.png) left center no-repeat;
}


/* STACKED SELECTORS */

.stacked {
    float: left;
    width: 500px;
}

.stacked select {
    width: 480px;
    height: 10.1em;
}

.stacked .selector-available, .stacked .selector-chosen {
    width: 480px;
}

.stacked .selector-available {
    margin-bottom: 0;
}

.stacked .selector-available input {
    width: 442px;
}

.stacked ul.selector-chooser {
    height: 22px;
    width: 50px;
    margin: 0 0 3px 40%;
    background: url(icons/chooser_stacked-bg.png) top center no-repeat;
}

.stacked .selector-chooser li {
    float: left;
    padding: 3px 3px 3px 5px;
}

.stacked .selector-chooseall, .stacked .selector-clearall {
    display: none;
}

.stacked .selector-add {
    background-image: url(icons/selector_stacked-add.png);
}

.stacked .selector-remove {
    background-image: url(icons/selector_stacked-remove.png);
}


