/*
    the Tango palette from http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines

    butter	#fce94f #edd400 #c4a000
    orange	#fcaf3e	#f57900	#ce5c00
    chocolate #e9b96e #c17d11 #8f5902
    chameleon	#8ae234 #73d216 #4e9a06
    sky blue	#729fcf #3465a4 #204a87
    plum	#ad7fa8 #75507b #5c3566
    scarlet red	#ef2929 #cc0000 #a40000
    aluminium	#eeeeec #d3d7cf #babdb6
        #888a85 #555753 #2e3436
*/


body {
    background-color: #eeeeec; /* aluminium 1 */
    color: #2e3436; /* aluminium 6 */
    font-family: Helvetica, "Sans", "Trebuchet MS", Arial, sans-serif;
    font-size: 12pt;
    text-align: left;
    margin: 0;
}
pre {
    font-family: Terminus, "Monospace", monospace;
    font-size: 10pt;
}
#sidebar {
	float: right;
	border-left: solid thin #888a85; /* aluminium 4 */
	border-bottom: solid thin #888a85; /* aluminium 4 */
	/* IE thinks inherit == transparent */
	/*
	background-color: inherit;
	*/
    background-color: #eeeeec; /* aluminium 1 */
}
#sidebar div {
	border: thin solid #888a85; /* aluminium 4 */
	/* IE thinks inherit == transparent */
	/*
	background-color: inherit;
	*/
    background-color: #eeeeec; /* aluminium 1 */
	padding: .25em;
	margin: .25em;
}
#sidebar hr {
    /* ideally we wouldn't specify this at all, but IE likes to make <HR> widths
    relative to the page, instead of the containing div. */
    width: 15em;
}
#logo {
    margin: .25em;
}
div#masthead {
    padding: .5em;
    background-color: #ffffff;
}
div#masthead a {
    text-decoration: none;
}
div#header {
    padding: .5em;
    background-color: #fafaf8; /* aluminium 1 plus 5% */
}
div#content {
    padding: .5em;
}
a {
    color: #204a87; /* sky blue 3 */
}
a img {
    border-style: none;
}
p {
    margin-top: .5em;
    margin-bottom: .5em;
}
h1 {
    font-size: 200%;
    font-weight: bold;
    vertical-align: middle;
}
h1 * {
    vertical-align: middle;
}
h2 {
    font-weight: bold;
    font-size: 150%;
}
h3 {
    font-size: 125%;
}

ul {
    padding: 0;
    margin: .25em;
}
li {
    margin-left: 2em;
}

table td,th {
    padding: .25em;
}
table.bordered {
    border: thin solid #babdb6; /* aluminium 3 */
}
table.bordered td,table.bordered th {
    border: thin dotted #d3d7cf; /* aluminium 2 */
}
table caption {
    background: transparent;
}

.changed table, .added table, .removed table {
    /* reset colors to what they would've been */
    /* TODO: better way to do this? */
    background-color: #eeeeec; /* aluminium 1 */
    color: #2e3436; /* aluminium 6 */
}
del, .removed {
    background: #ef6c6c; /* scarlet red 1, at 2/3 saturation (55% absolute sat.) */
    border: thin dashed #cc0000; /* scarlet red 2 */
    color: #a40000; /* scarlet red 3 */
}
ins, .added {
    background: #a8e26f; /* chameleon 1, at 2/3 saturation (51% absolute sat.) */
    border: thin dashed #73d216; /* chameleon 2 */
    color: #274c03; /* chameleon 3 at half value (30% absolute val.) */
}
.changed {
    background-color: #fcf08d; /* butter 1, at 2/3 saturation (44% absolute sat.) */
    border: thin dashed #edd400; /* butter 2 */
    color: #614f00;  /* butter 3 at half value (38% absolute val.) */
}

/* for using tables for layout */
.layout {
    margin: 0;
    padding: 0;
    border: none;
}
td.layout {
    vertical-align: top;
}

.section {
    border: 2px solid #729fcf; /* sky blue 1 */
    margin: .25em;
    padding: .25em;
}

.subsection, .subform {
    border: 1px solid #729fcf; /* sky blue 1 */
    margin: .125em;
    padding: .125em;
}

div.field_wrapper {
    /* border: thin dashed #555753; */ /* aluminium 5 */
    padding: .125em;
    margin: .125em;
    text-align: left;
}

tr.field th, tr.field td {
    border-top: thin solid #d3d7cf; /* aluminium 3 */;
    border-bottom: thin solid #d3d7cf; /* aluminium 3 */;
}
tr.field th {
    border-left: thin dotted #d3d7cf; /* aluminium 2 */
}
tr.field td {
    border-right: thin dotted #d3d7cf; /* aluminium 2 */
}
table th, .fieldname {
    font-weight: bold;
    color: #555753;
}

ul.errorlist, span.errorlist {
    background-color: #ef2929; /* scarlet red 1 */
    border: thin dashed #a40000; /* scarlet red 3 */
}
ul.errorlist {
    list-style-type: none;
}

span.invalid {
    text-decoration: line-through;
}
span.ole-true {
    background-color: #eed6d6; /* aluminum 1 with 10x saturation and hue of scarlet red 1 */
    border: thin solid #ef2929; /* scarlet red 1 */
    color: #a40000;  /* scarlet red 3 */
}
span.ole-true a {
    color: #a40000;  /* scarlet red 3 */
}
div.ole-warning {
    background-color: #ef6c6c; /* scarlet red 1, at 2/3 saturation (55% absolute sat.) */
    color: #a40000;  /* scarlet red 3 */
    border: thin solid #a40000;  /* scarlet red 3 */
    text-align: center;
}
.confidential-box {
    border: thin solid #a40000;  /* scarlet red 3 */
}
div.confidential-box div.confidential-warning {
    background-color: #ef6c6c; /* scarlet red 1, at 2/3 saturation (55% absolute sat.) */
    color: #a40000;  /* scarlet red 3 */
    border-bottom: thin solid #a40000;  /* scarlet red 3 */

    text-align: center;
}

