div.taxon_widget {
    display: inline-block;
}
div.taxon_widget_search_box {
    display: inline-block;
}
/* TODO use classes not IDs */
input.taxon_widget_filter {
    width: 20em;
}
.taxon_widget_searchlist {
    border: thin solid grey;
    text-align: left;
    background-color: #d3d7cf;
}
td.taxon {
    padding: .2em;
}
.taxon_name {
    font-weight: bold;
    font-size: 125%;
    line-height: 90%;
}
.taxon_id {
    display: none;
}
.common_names {
    font-style: italic;
    font-size: 85%;
    line-height: 95%;
    padding-left: .2em;
}
.highlighted {
    background-color: #729fcf; /* sky blue 1 */
}

