.taxon_name {
    display: block;
    font-weight: bold;
    line-height: 90%;
    padding: .2em;
}
.common_names {
    display: block;
    font-size: 85%;
    line-height: 85%;
    padding-left: 1.176470588em; /* 1em before the font-size:85% */
    padding-right: 0.235294118em; /* .2em before the font-size:85% */
    padding-top: 0;
    padding-bottom: 0;
}

