div.taxon_widget {
    display: inline-block;
}
div.taxon_widget_search_box {
    display: inline-block;
}
/* TODO use classes not IDs */
input.taxon_widget_filter {
    width: 20em;
}
.taxon_widget_searchlist {
    border: thin solid grey;
    text-align: left;
    background-color: #d3d7cf;
}
.highlighted {
    background-color: #729fcf; /* sky blue 1 */
}

