{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ media }}
{% endblock %}

{% block content %}
<div style="text-align:center;" width="100%">
    <div style="display: float; float:left;">
        {% if rev.get_previous_by_date_created %}
        <a href="{% url revision_detail rev.get_previous_by_date_created.id %}">
            &#x2190; previous revision
        </a>
        {% else %}
        <i>no previous revisions</i>
        {% endif %}
    </div>
    revision #{{ rev.id }} created {{ rev.date_created }} by {{ rev.user }}
    <div style="display: float; float:right;">
        {% if rev.get_next_by_date_created %}
        <a href="{% url revision_detail rev.get_next_by_date_created.id %}">
            next revision &#x2192;
        </a>
        {% else %}
        <i>no subsequent revisions</i>
        {% endif %}
    </div>
</div>
<table class="bordered" width="100%">
    <tr>
        <th>old revision</th>
        <th>content_type</th>
        <th>diff</th>
        <th>next revision</th>
    </tr>
    {% for ver in annotated_versions %}
    <tr>
        <td>
            {% if ver.old_version %}
            <a href="{% url revision_detail ver.old_version.revision.id %}">{{ ver.old_version.revision.id }}</a>
            {% else %}
            <i>none</i>
            {% endif %}
        </td>
        <td>
            {{ ver.content_type }}
        </td>
        <td width="75%"{% if ver.differs %}{% if not ver.old_version %} class="added"{% else %} class="changed"{% endif %}{% endif %}>
            {% if ver.differs %}
            {% if not ver.old_version %}
            <i>new</i>
            {% else %}
            <i>change</i>
            {% endif %}
            {% else %}
            <i>no change</i>
            {% endif %}
            <script type="text/javascript">
                $().ready(function(){
                    CheckboxHider.init(
                        "view_{{ ver.id }}",
                        "{{ ver.id }}_changes"
                    );
                });
            </script>
            <form><div><input {% if ver.differs %}checked="checked"{% endif %}
type="checkbox" name="view_{{ ver.id }}"><label for="view_{{ ver.id }}">show fields</label></div></form>
            <table class="bordered" id="{{ ver.id }}_changes">
                <tr>
                    <th>field</th>
                    {% if ver.old_version %}
                    <th>old</th>
                    <th>diff</th>
                    {% endif %}
                    <th>new</th>
                </tr>
                {% for field, vals in ver.fields.items %}
                <tr>
                    <td{% if vals.differ %}{% if not ver.old_version %} class="added"{% else %} class="changed"{% endif %}{% endif %}>{{ field }}</td>
                    {% if ver.old_version %}
                    {% if vals.differ %}
                    <td>{{ vals.old }}</td>
                    <td>{{ vals.diff }}</td>
                    {% else %}
                    <td><i>same</i></td>
                    <td></td>
                    {% endif %}
                    {% endif %}
                    <td>{{ vals.new }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            {% if ver.new_version %}
            <a href="{% url revision_detail ver.new_version.revision.id %}">{{ ver.new_version.revision.id }}</a>
            {% else %}
            <i>none</i>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
