{# intended to be included in another template, with a NiceDateTimeForm as d_form #}
<table>
    {# TODO seconds? timezone? for now, assume U.S. Eastern time in the view #}
    <caption>
        please use 24-hour, EST/EDT time
        {% if d_form.non_field_errors %}
        <ul class="errorlist ui-state-error">
            {% for e in d_form.non_field_errors %}
            <li class="ui-state-error-text">{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </caption>
    <tr>
        {% for f in d_form %}
        <th>{{ f.label_tag }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for f in d_form %}
        <td>{{ f }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for f in d_form %}
        <td>
	        {% if f.errors %}
	        <ul class="errorlist ui-state-error">
		        {% for e in f.errors %}
		        <li class="ui-state-error-text">{{ e }}</li>
		        {% endfor %}
	        </ul>
	        {% endif %}
        </td>
        {% endfor %}
    </tr>
</table>

