<!DOCTYPE html> <!-- the HTML5 doctype -->
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block head %}

		<link
		    rel="stylesheet"
		    href="{% url site-media path="site.css" %}"
		    type="text/css"
		    >
        <style type="text/css">
        </style>
		<title>
		    {% block title %}Marine Mammal Injury Database{% endblock %}
		</title>
		
		{% endblock head %}
	</head>
	<body>
		<div id="sidebar">
			{% block sidebar %}
			<div id="account_corner">
				{% if user.is_authenticated %}
				logged in as {{ user.username }}
				{% if user.is_staff %}<a href="{% url admin:index %}">admin site</a>{% endif %}
				<a href="{% url logout %}">log out</a>
				{% else %}
				<a href="{% url login %}">log in</a>
				{% endif %}
			</div>
			{% endblock %}
		</div>
		<div id="masthead">
		    <h1>
		        <a href="{% url home %}" class="large">
                    <img id="logo" alt="National Oceanic and Atmospheric Administration" src="{% url site-media path="NOAA_logo.png" %}">
                    Marine Mammal Injury Database
                </a>
            </h1>
        </div>
        <div id="navigation-links">
            <!-- these should just be a styled list... but IE can't handle display:table styles
            <ul class="navlinks">
                <li><a href="{% url all_contacts %}">view all contacts</a></li>
                <li><a href="{% url all_animals %}">view all animals</a></li>
                <li><a href="{% url all_cases %}">view all cases</a></li>
                <li><a href="{% url recent_revisions %}">recent revisions</a></li>
                <li><a href="{% url entanglement_report_form %}">create an entanglement case for a new animal and add an intial observation</a></li>
                <li><a href="{% url shipstrike_report_form %}">create a shipstrike case for a new animal and add an intial observation</a></li>
            </ul>
            -->
            <table class="navlinks layout">
                <tr>
                    <td><a href="{% url all_contacts %}">view all contacts</a></td>
                    <td><a href="{% url all_animals %}">view all animals</a></td>
                    <td><a href="{% url all_cases %}">view all cases</a></td>
                    <td><a href="{% url recent_revisions %}">recent revisions</a></td>
                    <td><a href="{% url entanglement_report_form %}">create an entanglement case for a new animal and add an intial observation</a></td>
                    <td><a href="{% url shipstrike_report_form %}">create a shipstrike case for a new animal and add an intial observation</a></td>
                </tr>
            </table>
        </div>
        <div id="header">
            {% block header %}
            <h2 class="error">NO HEADER!</h2>
            {% endblock header %}
        </div>
        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="content">
            {% block content %}NO CONTENT!{% endblock %}
        </div>
    </body>
</html>

