<!DOCTYPE html> <!-- the HTML5 doctype -->
{% load case_extras %}
{% load observation_extras %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block head %}
		<link
		    rel="stylesheet"
		    href="{% url site-media path="site.css" %}"
		    type="text/css"
		    >
		{{ media }}
		<title>
		    {% block title %}Marine Mammal Injury Database{% endblock %}
		</title>
		{% endblock head %}
	</head>
	<body>
	{% block body %}{% endblock %}
    </body>
</html>

