<!DOCTYPE html> <!-- the HTML5 doctype -->
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block head %}

		<!-- Blueprint CSS Framework --> 
		{% comment %}
		<link
		    rel="stylesheet"
		    href="{% url site-media path="blueprint/screen.css" %}"
		    type="text/css" 
		    media="screen, projection">
		<link 
		    rel="stylesheet"
		    href="{% url site-media path="blueprint/print.css" %}"
		    type="text/css"
		    media="print">
		<link 
		    rel="stylesheet" 
		    href="{% url site-media path="blueprint/src/typography.css" %}" 
		    type="text/css" 
		    media="screen, projection">
		<link
		    rel="stylesheet"
		    href="{% url site-media path="blueprint/src/reset.css" %}"
		    type="text/css"
		    media="screen, projection">
		<!--[if lt IE 8]>
		<link
		    rel="stylesheet"
		    href="{% url site-media path="blueprint/ie.css" %}"
		    type="text/css"
		    media="screen, projection">
		<![endif]-->
        {% endcomment %}
		
		<!-- our own CSS -->
		<link
		    rel="stylesheet"
		    href="{% url site-media path="site.css" %}"
		    type="text/css"
		    >
		
		<title>
		    {% block title %}Marine Mammal Injury Database{% endblock %}
		</title>
		
		{% endblock head %}
	</head>
	<body>
		<div id="sidebar">
			{% block sidebar %}
			<div id="account_corner">
				{% if user.is_authenticated %}
				logged in as {{ user.username }}
				{% if user.is_staff %}<a href="{% url admin:index %}">admin site</a>{% endif %}
				<a href="{% url logout %}">log out</a>
				{% else %}
				<a href="{% url login %}">log in</a>
				{% endif %}
			</div>
			{% endblock %}
		</div>
		<div id="masthead">
		    <h1>
		        <a href="{% url home %}" class="large">
                    <img id="logo" alt="National Oceanic and Atmospheric Administration" src="{% url site-media path="NOAA_logo.png" %}">
                    Marine Mammal Injury Database
                </a>
            </h1>
        </div>
        <div id="header">
            {% block header %}
            <h2 class="error">NO HEADER!</h2>
            {% endblock header %}
        </div>
        {% if messages %}
        <div id="messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="content">
            {% block content %}NO CONTENT!{% endblock %}
        </div>
    </body>
</html>

