{% extends "base.html" %}
{# used for either creation/update pages or view pages #}

{% block head %}
{{ block.super }}
<style type="text/css">
    /* TODO this is necessary since the ids_block isn't really a list of definitions ... */
    div#ids_block dt {
        font-weight: normal;
    }
</style>
{% endblock %}

{% block sidebar %}
{{ block.super }}
{% block ids %}
<div id="ids_block">
    <h3>ID's</h3>
    <dl>
        {% block ids-dl %}
        {% endblock %}
    </dl>
</div>
{% endblock %}
{% endblock %}
