{% extends "base.html" %}

{% block head %}
{{ block.super }}
{{ media }}
<style type="text/css">
    ul.navlinks {
        display: table;
        width: 100%;
    }
    ul.navlinks li {
        padding: .75em;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    ul.navlinks li a {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block header %}
<ul class="navlinks">
    <li><a href="{% url all_contacts %}">view all contacts</a></li>
    <li><a href="{% url all_animals %}">view all animals</a></li>
    <li><a href="{% url all_cases %}">view all cases</a></li>
    <li><a href="{% url recent_revisions %}">recent revisions</a></li>
    <li><a href="{% url entanglement_report_form %}">create an entanglement case for a new animal and add an intial observation</a></li>
    <li><a href="{% url shipstrike_report_form %}">create a shipstrike case for a new animal and add an intial observation</a></li>
</ul>
{% endblock %}

{% block content %}
<table class="layout">
    <tr class="layout">
        <td class="section layout" width="50%">
            <h3>look up a particular animal</h3>
            <form action="" method="get" class="subform">
                    {% with forms.animal_lookup_id.non_field_errors as errors %}
                    {% if errors %}
                    <ul class="errorlist">
                        {% for e in errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% for f in forms.animal_lookup_id %}
                    {% include "inline_field.html" %}
                    {% endfor %}
                    <button type="submit">lookup</button>
            </form>
        </td>
        <td class="section layout">
            <h3>look up a particular case</h3>
            <form action="" method="get" class="subform">
                    {% with forms.case_lookup_id.non_field_errors as errors %}
                    {% if errors %}
                    <ul class="errorlist">
                        {% for e in errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% for f in forms.case_lookup_id %}
                    {% include "inline_field.html" %}
                    {% endfor %}
                    <button type="submit">lookup</button>
            </form>
            <form action="" method="get" class="subform">
                    {% with forms.case_lookup_yearlynumber.non_field_errors as errors %}
                    {% if errors %}
                    <ul class="errorlist">
                        {% for e in errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% for f in forms.case_lookup_yearlynumber %}
                    {% include "inline_field.html" %}
                    {% endfor %}
                    <button type="submit">lookup</button>
            </form>
            <form action="" method="get" class="subform">
                    {% with forms.case_lookup_nmfs.non_field_errors as errors %}
                    {% if errors %}
                    <ul class="errorlist">
                        {% for e in errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% for f in forms.case_lookup_nmfs %}
                    {% include "inline_field.html" %}
                    {% endfor %}
                    <button type="submit">lookup</button>
            </form>
        </td>
    </tr>
    <tr class="layout">
        <td class="section layout">
            <form action="{% url animal_search %}" method="get" class="subform">
                <div>
                    <h3>get a list of animals that fit some criteria</h3>
                    {% for f in forms.animal_search %}
                    {% include "labeled_field.html" %}
                    {% endfor %}
                    <button type="submit">search</button>
                </div>
            </form>
        </td>
        <td class="section layout">
            <form action="{% url case_search %}" method="get" class="subform">
                <div>
                    <h3>get a list of cases that fit some criteria</h3>
                    {% for f in forms.case_search %}
                    {% include "labeled_field.html" %}
                    {% endfor %}
                    <button type="submit">search</button>
                </div>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
