{% extends "base.html" %}

{% block content %}
<div><a href="{% url all_contacts %}">view all contacts</a></div>
<div><a href="{% url all_animals %}">view all animals</a></div>
<div><a href="{% url all_cases %}">view all cases</a></div>
<div><a href="{% url entanglement_report_form %}">create an entanglement case for a new animal and add an intial observation</a></div>
<div><a href="{% url shipstrike_report_form %}">create a shipstrike case for a new animal and add an intial observation</a></div>
{% endblock %}
