{% extends "page.html" %}
{% load humanize %}

{% block header %}
<div style="text-align:center;">{{ observation_count|intcomma }} observations in {{ case_count|intcomma }} cases for {{ animal_count|intcomma }} animals</div>
{% endblock %}

{% block content %}
<table class="layout">
    <tr class="layout">
        <td class="section layout" style="text-align:center; width:50%;">
            <h3>look up a particular animal</h3>
            <form action="" method="get" class="subform">
                <table>
                    {{ forms.animal_lookup.as_table }}
                </table>
                {% with results.animal_lookup as rs %}
                {% include "lookup_results-include.html" %}
                {% endwith %}
                <button type="submit">lookup</button>
            </form>
            <i>or</i>
            <form action="" method="get" class="subform">
                <table>
                    {{ forms.animal_lookup_field_number.as_table }}
                </table>
                {% with results.animal_lookup_field_number as rs %}
                {% include "lookup_results-include.html" %}
                {% endwith %}
                <button type="submit">lookup</button>
            </form>
            <i>or</i>
            <form action="" method="get" class="subform">
                <table>
                    {{ forms.animal_lookup_name.as_table }}
                </table>
                {% with results.animal_lookup_name as rs %}
                {% include "lookup_results-include.html" %}
                {% endwith %}
                <button type="submit">lookup</button>
            </form>
        </td>
        <td class="section layout" style="text-align:center; width:50%;">
            <h3>look up a particular case</h3>
            <form action="" method="get" class="subform">
                <table>
                    {{ forms.entanglement_lookup_nmfs.as_table }}
                </table>
                {% with results.entanglement_lookup_nmfs as rs %}
                {% include "lookup_results-include.html" %}
                {% endwith %}
                <button type="submit">lookup</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
