{% if f.is_hidden %}
{{ f }}
{% else %}
<div class="field_wrapper">
    <table><tr><td>
	    <div>
		    <span class="fieldname">{{ f.label_tag }}</span> {{ f }}
	    </div>
    </td>
    {% if f.help_text %}
    <td>
        <script type="text/javascript">
            $().ready(function(){
                $("#{{ f.auto_id }}_definitions_link").click(function(event){
                    $("#{{ f.auto_id }}_definitions_block").slideToggle();
                    return false;
                });
            });
        </script>
        <a id="{{ f.auto_id }}_definitions_link" href="">definitions...</a>
        <div id="{{ f.auto_id }}_definitions_block" style="display:none;">
        {{ f.help_text|safe }}
        </div>
    </td>
    {% endif %}
    </tr></table>
    {% if f.errors %}
	<ul class="errorlist ui-state-error">
		{% for e in f.errors %}
		<li class="ui-state-error-text">{{ e }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endif %}
