{% extends "page.html" %}
{% load animal_extras %}
{% load case_extras %}
{% load link_filter %}

{% block header %}<h2>Entries with potential problems</h2>{% endblock %}

{% block content %}
{% if contacts_same_name %}
<div>
    <h3>Contacts and Organizations with the same name</h3>
    <ul>
        {% for name, contacts in contacts_same_name.items %}
        <li>
            {{ name }}
            <div>
                {{ contacts|links|join:", " }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if animals_same_number %}
<div>
    <h3>Animals with the same field number</h3>
    <ul>
        {% for number, animals in animals_same_number.items %}
        <li>
            {{ number }}
            <div>
                {% for a in animals %}{% animal_link a %},{% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if animals_same_name %}
<div>
    <h3>Animals with similar names</h3>
    <ul>
        {% for name, animals in animals_same_name.items %}
        <li>
            {{ name }}
            <div>
                {% for a in animals %}{% animal_link a %},{% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if animals_no_cases %}
<div>
    <h3>Animals with no cases</h3>
    <ul>
        {% for a in animals_no_cases %}
        <li>
            {% animal_link a %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if cases_no_observations %}
<div>
    <h3>Cases with no observations</h3>
    <ul>
        {% for c in cases_no_observations %}
        <li>
            {% case_link c %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if entanglements_same_nmfs %}
<div>
    <h3>Entanglements with the same NMFS ID</h3>
    <ul>
        {% for nmfs, ents in entanglements_same_nmfs.items %}
        <li>
            {{ nmfs }}
            <div>
                {% for e in ents %}{% case_link e %},{% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if observations_no_ent %}
<div>
    <h3>Observations for Entanglement cases without entanglement data</h3>
    <ul>
        {% for o in observations_no_ent %}
        <li>{{ o|link }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if observations_no_ss %}
<div>
    <h3>Observations for Shipstrike cases without shipstrike data</h3>
    <ul>
        {% for o in observations_no_ss %}
        <li>{{ o|link }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

