{% extends "base.html" %}

{% block title %}{{ block.super }}: import strandings data{% endblock %}

{% block header %}
<h2>import strandings data</h2>
{% endblock %}

{% block content %}
<div>
    <form{% if form.is_multipart %}
      enctype="multipart/form-data"{% endif %}
      method="post"
      action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">import</button>
    </form>
</div>
{% if results %}
<hr>
<div>
    {% for r in results %}
    <table class="layout" border="1">
        <tr>
            <td style="width: 50%;">
                <table>
                    {% for k, v in r.row.items %}
                    {% if v %}
                    <tr>
                        <th style="text-align:right;">
                            <span style="white-space: pre-wrap;">&lt;{{ k }}&gt;</span>
                        </th>
                        <td>{{ v|truncatewords:20 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td style="width: 50%;">
                <span style="white-space: pre-wrap; font-family: monospace;">{{ r.data|pprint }}</span>
            </td>
        </tr>
    </table>
    <hr>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
