{% extends "base.html" %}
{% load animal_extras %}
{% load case_extras %}
{% load observation_extras %}

{% block title %}{{ block.super }}: reviewing imported entries{% endblock %}

{% block header %}
<h2>Imported Entries</h2>
{% endblock %}

{% block content %}
<table>
    <tr><th>animal</th><th>case</th><th>observation</th></tr>
    {% for a in animals %}
    {% for c in a.case_set.all %}
    {% for o in c.observation_set.all %}
    <tr>
        {% ifchanged a.id %}
        <td>{{ a.id|stringformat:"06d" }} {% animal_link a %}</td>
        {% else %}
        <td style="text-align: center;">"</td>
        {% endifchanged %}
        {% ifchanged c %}
        <td>{% case_link c %}</td>
        {% else %}
        <td style="text-align: center;">"</td>
        {% endifchanged %}
        <td>{% observation_link o %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</table>
{% endblock %}
