{% extends "detail.html" %}

{% block header %}
<h2>file <span class="filename">{{ attachment.name }}<span></h2>
{% endblock %}

{% block content %}

<div class="attachment">
    <table>
        <tr>
            <th>kind:</th>
            <td>
                {% if attachment.storage_type == 0 %}
                <img src="{{ MEDIA_URL }}icons/file_none.png" title="this file exists, somewhere...">
                {% endif %}
                {% if attachment.storage_type == 1 %}
                <img src="{{ MEDIA_URL }}icons/file_repo.png" title="this file is in a repository" alt="file in a repository">
                {% endif %}
                {% if attachment.storage_type == 2 %}
                <img src="{{ MEDIA_URL }}icons/file_upload.png" title="this file was uploaded to the database" alt="uploaded file">
                {% endif %}
                {% if attachment.attachment_type %}<b>{{ attachment.attachment_type }}</b>{% endif %}
            </td>
        </tr>
        <tr>
            <th>name:</th>
            <td>
                {{ attachment.name|default:"<i>no name</i>" }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{% url view_attachment attachment.id %}">details</a>
                {% if attachment.storage_type %}<a href="{{ attachment.url }}">download</a>{% endif %}
            </td>
        </tr>
    </table>
</div>

{% endblock %}
