/* Colors from the XKCD color survey.
 *
 * http://xkcd.com/color/rgb/
 *
 * d8dcd6	light grey
 * c5c9c7	silver
 * 929591	grey
 * 363737	dark grey
 */

* {
  font-family: "Sans", "Helvetica", "Verdana", sans-serif;
}

.informalexample {
  border: thin solid #363737;
  padding: .5em;
}
.informalexample .caption {
  border-top: thin solid #929591;
}

.glossterm {
	font-weight: bold;
	font-size: 0.90em;
}

.literal, .token, .classname, .varname, .function, .property, .programlisting {
	font-family: monospace;
	background-color: #c5c9c7;
	font-size: 0.95em;
	padding: 0 1px 0 1px;
}

